@import 'layouts/main';

header {
    & .jumbotron {
        height: 500px;
        background: url('/static/img/about/hero.jpg');
        background-repeat: no-repeat;
        background-position: center 65%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section {
    &-plan {
        .list-group {
            .active {
                color: $white;
            }
        }
    }

    &-big-innovate {
        .card-bg {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 10em;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            text-align: center;

            .bg-text {
                color: $yellow;
                font-size: 1.5em;
            }
        }
    }
}
