@import 'layouts/main';

header {
    & .jumbotron {
        height: 500px;
        background: url('/static/img/about/hero.jpg');
        background-repeat: no-repeat;
        background-position: center 65%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section {
}
