@import "layouts/main";

.modal-backdrop {
  opacity: 0.5 !important;
}

header {
  color: $white;

  & > .jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/accelerated/hero.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;

    h1 {
      text-shadow: darken($color: #000000, $amount: 1);
    }

    .lead {
      @include media-breakpoint-down(md) {
        font-weight: 400;
      }
    }
  }
}

.section {
  &-courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e6eff5;

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 6em;
      }
    }

    img {
      overflow-y: scroll !important;
      max-width: 12em;
    }

    .icon {
      width: 1em;
    }

    .details-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card {
      border: none !important;
    }

    .close {
      align-self: flex-end;
    }
  }
}
