@import "layouts/main";

.modal-body {
    font-size: 1.3em;
}

header {
    color: $white;

    & > .jumbotron {
        background: linear-gradient(rgba(96, 109, 144, 0.34), rgba(11, 26, 66, 0.34)), url("/static/img/home/hero.jpg");
        background-size: cover; /* or contain depending on what you want */
        background-position: center 25%;
        background-repeat: repeat-x;
        text-align: center;
        margin: auto;
        padding: 0;

        @include media-breakpoint-down(md) {
            h1 {
                font-size: 2.5em !important;
            }
        }

        .lead {
            font-weight: 500;

            @include media-breakpoint-down(md) {
                font-weight: 400;
            }
        }
    }
}

.section {
    &-intro {
        .lead-in {
            line-height: 1.75em;
            font-size: 1.5em;
            margin-left: 10%;
            margin-right: 10%;
        }

        hr {
            width: 98%;
            border-top: 2 px solid #ccc;
        }

        @media screen and (max-width: 576px) {
            .lead-in {
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }

    &-alumni {
        min-height: 420px;

        img {
            width: 24em;
        }

        h3,
        h4 {
            line-height: 1.75em;
            margin-left: 5%;
            margin-right: 5%;
        }

        h4 > a {
            color: cadetblue;
        }
    }

    &-newsletter-sign-up {
        h2 {
            font-size: 2.5em !important;
        }

        .form-container {
            #mc_embed_signup {
                width: 796px;
            }

            .form-text {
                width: 75%;
            }

            .check-container {
                width: 25%;
            }
        }

        @media screen and (max-width: 400px) {
            .form-container {
                #mc_embed_signup {
                    width: 100%;
                }

                .form-text {
                    width: 100%;
                }

                .check-container {
                    width: 100%;
                }
            }
        }
    }

    &-prev-newsletters {
        min-height: 540px;

        .btn-group.dropright > button {
            background-color: transparent;
            font-size: 1.5em;
            font-weight: 500;
            color: rgb(58, 58, 58);
            border: none;

            &:hover {
                background-color: transparent;
                color: cadetblue;
            }

            .dropdown-menu {
                padding: 0 !important;
            }
        }

        #iframe-container {
            iframe {
                width: 39em;
                height: 80em;
                border: none;
                border-radius: 0 10px 10px 10px;
            }

            // iframe > body::-webkit-scrollbar {
            //     width: 0.6em;
            // }

            // iframe > body::-webkit-scrollbar-track {
            //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            // }

            // iframe > body::-webkit-scrollbar-thumb {
            //     border-radius: 25px;
            //     background-color: rgb(182, 181, 181);
            // }
        }

        #newsletter-helper {
            width: 39em;
        }

        .list-group-item {
            cursor: pointer;
            font-size: 1.1em;
            padding: 0.7 rem 1.25 rem;

            &:hover {
                background: #ecebeb;
            }

            &:focus {
                background: #afaeae;
            }
        }

        #mobile-newsletter-options {
            margin: 0 auto;
        }

        @media screen and (max-width: 576px) {
            #iframe-container {
                width: 100% !important;

                iframe {
                    width: 100% !important;
                    height: 80em;
                }
            }

            #mobile-newsletter-options {
                .btn-group.dropright > button {
                    font-size: 1em;
                }
            }
        }
    }
}
