@import "layouts/main";

header {
    color: $white;

    & > .jumbotron {
        background: linear-gradient(rgba(11, 26, 66, 0.3), rgba(11, 26, 66, 0.3)), url("/static/img/media/hero.jpg");
        background-size: cover; /* or contain depending on what you want */
        background-position: center 37.5%;
        background-repeat: repeat-x;
        text-align: center;
        margin: auto;
        padding: 0;

        @include media-breakpoint-down(md) {
            h1 {
                font-size: 2.5em !important;
            }
        }

        .lead {
            font-weight: 500;

            @include media-breakpoint-down(md) {
                font-weight: 400;
            }
        }
    }
}

.section {
    &-blogs {
        button {
            background-color: #facf32f1;
        }

        button:hover {
            background-color: #f3cc40f1;
        }
    }
}
