@import 'layouts/main';

header {
    color: $white;

    & > .jumbotron {
        background: linear-gradient(
                rgba(11, 26, 66, 0.5),
                rgba(11, 26, 66, 0.5)
            ),
            url('/static/img/data-analytics/hero.jpeg');
        background-position: center 75%;

        .lead {
            @include media-breakpoint-down(md) {
                font-weight: 400;
            }
        }
    }
}

.section {
    &-about {
        .icon-container {
            i {
                color: $white;
                font-size: 3.5em;
            }
        }
    }
    
    &-curriculum {
        .accordion {
            .card-header {
            cursor: pointer;
            }
        }
    }
}
