@import "layouts/main";

header {
  color: $white;

  & > .jumbotron {
    background: linear-gradient(rgba(11, 26, 66, 0.5), rgba(11, 26, 66, 0.5)),
      url("/static/img/data-analytics/hero.jpeg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
  }
}

.section {
  &-deadlines {
    .lead-in {
      line-height: 1.4;
      max-width: 875px;
    }

    hr {
      width: 98%;
      border-top: 2px solid #cccccc;
    }

    @media screen and (max-width: 576px) {
      .lead-in {
        padding: 0 0.9375rem;
        text-align: start !important;
      }
    }
  }

  &-padding {
    @media only screen and (max-width: 600px) {
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
    }
  }

  &-video {
    padding: 0.75em;

    #video-container {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 2em;
      padding-top: 0;
    }

    #video-container iframe {
      border-radius: 0.25rem;
    }

    @media only screen and (max-width: 600px) {
      #video-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
      }

      #video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }

  &-about {
    .icon-container {
      i {
        color: $white;
        font-size: 3.5em;
      }
    }
  }

  &-curriculum {
    .accordion {
      .card-header {
        cursor: pointer;
      }
    }
  }
}
