@import "layouts/main";

main {
  height: 0%;

  header {
    color: $white;

    & > .jumbotron {
      background: linear-gradient(rgba(3, 7, 19, 0.5), rgba(3, 7, 19, 0.5)), url("/static/img/donate/hero.png");
      background-size: 100% cover;
      background-repeat: repeat-x;
      text-align: center;
      margin: auto;
      padding: 0;
    }
  }

  #spinner-container {
    height: 80vh;

    .spinner-border {
      width: 3rem;
      height: 3rem;
    }
  }

  #dv-iframe {
    width: 100%;

    header {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    & > .jumbotron {
      background-size: cover !important;
    }
  }
}

