@import "layouts/main";

main {
  height: 0%;

  header {
    color: $white;

    & > .jumbotron {
      background: linear-gradient(rgba(11, 26, 66, 0.7), rgba(11, 26, 66, 0.7)), url("/static/img/donate/hero.png");
      background-size: 70% 350px;
      background-position: center;
      background-repeat: repeat-x;
      text-align: center;
      margin: auto;
      padding: 0;

      .lead {
        font-weight: 500;

        @include media-breakpoint-down(md) {
          font-weight: 400;
        }
      }
    }
  }

  #spinner-container {
    height: 80vh;

    .spinner-border {
      width: 3rem;
      height: 3rem;
    }
  }

  #apply-iframe {
    width: 100%;

    header {
      display: none;
    }
  }
}