@import 'layouts/main';

header {
    color: $white;

    & > .jumbotron {
        height: 500px;
        background: linear-gradient(
                rgba(11, 26, 66, 0.25),
                rgba(11, 26, 66, 0.25)
            ),
            url('/static/img/hardware/hero.jpg');
        background-repeat: no-repeat;
        background-position: center 75%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section {
    &-about {
        .icon-container {
            i {
                color: $navy;
                font-size: 3.5em;
            }
        }
    }
}
