@import 'layouts/main';

header {
    color: $white;

    & > .jumbotron {
        background: linear-gradient(
                rgba(11, 26, 66, 0.3),
                rgba(11, 26, 66, 0.3)
            ),
            url('/static/img/hardware/hero.jpg');
        background-position: center 75%;

        .lead {
            @include media-breakpoint-down(md) {
                font-weight: 400;
            }
        }
    }
}

.section {
    &-about {
        .icon-container {
            i {
                color: $navy;
                font-size: 3.5em;
            }
        }
    }
}
