@import 'layouts/main';

header {
    & .jumbotron {
        height: 500px;
        background: linear-gradient(
                rgba(11, 26, 66, 0.25),
                rgba(11, 26, 66, 0.25)
            ),
            url('/static/img/partners/hero.jpg');
        background-repeat: no-repeat;
        background-position: center 65%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section {
    &-current {
        .logo {
            margin: 0 auto;
            height: 8em;
            width: 8em;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}
