@import "layouts/main";

header {
  & .jumbotron {
    background: linear-gradient(rgba(11, 26, 66, 0.25), rgba(11, 26, 66, 0.25)), url("/static/img/partners/hero.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center 30%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;

    .lead {
      @include media-breakpoint-down(md) {
        font-weight: 400;
      }
    }
  }
}

.section {
  &-employer-partners,
  &-network-partners {
    .logo {
      margin: 0 auto;
      height: 8em;
      width: 8em;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
