@import "layouts/main";

header {
  color: $white;

  & > .jumbotron {
    background: linear-gradient(rgba(11, 26, 66, 0.3), rgba(11, 26, 66, 0.3)), url("/static/img/programs/hero.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;

    .lead {
      font-weight: 500;
      font-size: 1.15em;

      @include media-breakpoint-down(md) {
        font-weight: 400;
      }
    }
  }
}

.section {
  &-help {
    @media only screen and (max-width: 600px) {
      #main-help-text {
        text-align: center;
      }
    }
  }

  &-programs {
    .lead-in {
      font-size: 1.15em;
      color: #11092c;
      max-width: 875px;
    }

    hr {
      width: 98%;
      border-top: 2px solid #cccccc;
    }

    .icon {
      font-size: 4em;
      color: $black;
    }

    .card {
      border: none;
      min-height: 483px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      margin: 0 auto;

      .card-body {
        .dropdown {
          bottom: 2em;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          z-index: 2;
        }

        .card-top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 200px;
          position: relative;
        }

        .card-text {
          font-size: 1.2em;
        }

        .learn-btn {
          bottom: 2em;
          left: 32%;
        }
      }

      &:hover {
        transition: box-shadow;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .card-title {
          color: $yellow;
        }
      }
    }

    @media screen and (max-width: 576px) {
      .lead-in {
        padding: 0 0.9375rem;
        text-align: start !important;
      }
    }

    #PD-icon {
      height: 1.5em;
    }
  }
}