@import 'layouts/main';

header {
    color: $white;

    & > .jumbotron {
        background: linear-gradient(
                rgba(11, 26, 66, 0.4),
                rgba(11, 26, 66, 0.4)
            ),
            url('/static/img/scholarships/hero.jpg');
        background-position: center 75%;

        .lead {
            @include media-breakpoint-down(md) {
                font-weight: 400;
            }
        }
    }
}

.requirements {
    margin: 0;
}