@import "layouts/main";

$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

header {
  color: $white;

  & > .jumbotron {
    background: linear-gradient(
        rgba(11, 26, 66, 0.4),
        rgba(11, 26, 66, 0.4)
      ),
      url("/static/img/software/hero.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center 37.5%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;

    .lead {
      font-weight: 500;

      @include media-breakpoint-down(md) {
        font-weight: 400;
      }
    }
  }
}

.section {
  &-padding {
    @media only screen and (max-width: 600px) {
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
    }
  }

  &-deadlines {
    .lead-in {
      max-width: 875px;
    }

    hr {
      width: 98%;
      border-top: 2px solid #cccccc;
    }

    @media screen and (max-width: 576px) {
      .lead-in {
        padding: 0 0.9375rem;
      }
    }
  }

  &-video {
    padding: 0.75em;

    #video-container {
      width: 100vw;
      height: 56.25vw;

      @media screen and (min-width: $lg){
        width: 80vw;
        height: 45vw;
        margin: auto
      }
    }
    
  }

  &-ncwit {
    #ncwit-container {
      margin: 3vh 0;
    }

    #ncwit-row-1 {
      margin-bottom: 2vh;
      justify-content: space-evenly;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    #ncwit-pic {
      height: inherit;
      padding: 0;
      min-width: 40vw;
    }

    #ncwit-text {
      justify-content: center !important;
      align-content: space-between;
      // text-align: center !important;
      height: inherit;
      font-size: 1.15em;
      font-weight: 400;
      padding-bottom: 0;
      // line-height: 2.7vh;
    }

    #ncwit-perks {
      margin-bottom: 0;
      padding: 1vh 0;
      font-size: 0.8em;
      font-weight: 500;
      height: auto;
      max-width: 520px;

      h6 {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    #ncwit-perks > .card-body {
      text-align: left;
      margin-bottom: 0;
      padding: 0.2em 1vw;

      ul {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 600px) {
      #ncwit-row-1 {
        padding-bottom: 0;
      }

      #ncwit-pic {
        justify-content: center;
        align-items: center;
      }

      #ncwit-pig > img {
        align-self: center;
        width: 94%;
        // min-width: 272px;
        height: 100%;
        margin: 0 3%;
      }
      #ncwit-text {
        text-align: center;
        align-content: space-between;
        margin: 2.7vh 1vw;
        font-size: 1em;
      }

      #ncwit-perks {
        margin: 0.7vh 0 0 0;
        padding: 0.2em 1vw;
      }

      #ncwit-perks > .card-body > ul {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0.4vh;
      }

      #more-ncwit-info {
        justify-content: center;
        text-align: center;
      }
    }

    @media only screen and (max-width: 1024px) and (min-width: 678px) {
      .section-ncwit {
        align-content: flex-end;
      }

      #ncwit-row-1 {
        padding-bottom: 0;
      }

      #ncwit-pic {
        justify-content: center;
        align-items: center;
        max-width: 80vw;
      }
      #ncwit-pic > img {
        align-self: center;
        width: 94%;
        height: 100%;
        margin: 0 3%;
      }

      #ncwit-text {
        text-align: center;
        align-content: space-between;
        margin: 2.7vh 1vw 0 1vw;
        font-size: 1em;
        max-width: 40vw;
      }

      #ncwit-perks {
        margin: 0.7vh 0 0 0;
        padding: 0.2em 1vw;
      }

      #ncwit-perks > .card-body > ul {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0.4vh;
      }

      #more-ncwit-info {
        justify-content: center;
        text-align: center;
      }
    }
    @media only screen and (max-width: 1024px) and (min-width: 2000px) {
      #ncwit-text {
        text-align: center !important;
      }

      #ncwit-pic {
        margin-bottom: 2vh;
      }

      #ncwit-perks {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &-javascript {
    iframe {
      width: 100%;
      height: 500px;
    }
  }

  &-about {
    .about-description {
      font-weight: 450;
    }

    .icon-container {
      i {
        color: $navy;
        font-size: 3.5em;
      }
    }
  }

  &-covalence {
    img {
      height: 4em;
    }
  }

  &-curriculum {
    .accordion {
      .card-header {
        cursor: pointer;
        border: none;
      }
    }

    .accordion-nested {
      .card {
        .card-header {
          padding-left: 4em;
        }
      }
    }
  }
}
