@import 'layouts/main';

header {
    color: $white;

    & > .jumbotron {
        background: linear-gradient(
                rgba(11, 26, 66, 0.4),
                rgba(11, 26, 66, 0.4)
            ),
            url('/static/img/software/hero.jpg');
        background-position: center 47%;

        .lead {
            @include media-breakpoint-down(md) {
                font-weight: 400;
            }
        }
    }
}

.section {
    &-javascript {
        iframe {
            width: 100%;
            height: 500px;
        }
    }

    &-about {
        .icon-container {
            i {
                color: $navy;
                font-size: 3.5em;
            }
        }
    }

    &-covalence {
        img {
            height: 4em;
        }
    }

    &-curriculum {
        .accordion {
            .card {
                border: none;
            }
        }

        .accordion-nested {
            .card {
                .card-header {
                    padding-left: 4em;
                }
            }
        }
    }
}
