@import "layouts/main";

header {
  color: $white;

  & > .jumbotron {
    background: linear-gradient(
        rgba(11, 26, 66, 0.4),
        rgba(11, 26, 66, 0.4)
      ),
      url("/static/img/testimonials/hero.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center 35%;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;

    .lead {
      font-weight: 500;

      @include media-breakpoint-down(md) {
        font-weight: 400;
      }
    }
  }
}

// general css //
.section {
  &-video {
    padding: 0.75em;

    #video-container {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 2em;
      padding-top: 0;
    }

    #video-container iframe {
      border-radius: 0.25rem;
    }

    @media only screen and (max-width: 600px) {
      #video-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
      }
    

      #video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    @media only screen and (max-width: 768px) {
      #video-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
      }
    

      #video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    @media only screen and (max-width: 1024px) {
      #video-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
      }
    

      #video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
//   &-video {
//     padding: 0.75em;

//     #video-container {
//         width: 100vw;
//         height: 56.25vw;
      
//         @media screen and (min-width: 1200px) {
//             width: 90vw;
//             height: 45vw;
//             margin: auto;
//         }
//     }
// }

  &-testimonials {
    .lead-in {
      font-size: 1.5em;
      color: #11092c;
      max-width: 875px;
    }

    hr {
      width: 98%;
      border-top: 2px solid #cccccc;
    }

    @media screen and (max-width: 576px) {
      .lead-in {
        padding: 0 0.9375rem;
        text-align: start !important;
      }
    }

    .section-card-container {
      display: flex;
      flex-direction: row;
      margin: 3% auto;
      vertical-align: middle;
      align-items: center;
      justify-content: space-around;

      .image-container {
        margin: 1em;
        padding: 0;

        img {
          padding: 5%;
          width: 200px;
          max-width: 200px;
        }
      }

      .message-container {
        margin: 1.5em;
        padding: 0;

        .message-actual {
          margin: 1em;
        }

        .quote {
          font-size: 1em;
          margin: 1.2em;
        }
      }
    }

    // reversing layout on every other card with some additional styling for centering. //
    .section-card-container:nth-child(odd) {
      .image-container {
        margin-left: 4em;
      }

      .message-container {
        margin-right: 4em;
        padding-left: 0;
      }
    }

    .section-card-container:nth-child(even) {
      flex-direction: row-reverse;

      .image-container {
        margin-right: 4em;
      }

      .message-container {
        margin-left: 4em;
        padding-right: 0;
      }
    }

    // media queries //
    @media screen and (max-width: 770px) {
      .section-card-container {
        flex-direction: column !important;

        .image-container {
          margin: 3% !important;

          img {
            max-width: 110px !important;
            padding: 0;
          }
        }

        .message-container {
          margin: 0.45em !important;
          padding-left: 0;
        }
      }
    }
  }
}
