<div id="newsletter-container">
    <div>
        <div>
            poop
        </div>
    </div>
</div>

<!-- Remove Script -->
<script src="/public/js/newsletter.js"></script>
<!-- /Remove Script -->