<div
    class="py-4 px-3 bg-yellow d-flex justify-content-between align-items-center text-navy text-large flex-column flex-md-row">
    <div>
        <p id="socials-lead-in" class="m-0 mb-3 mb-md-0">Stay in Touch!</p>
    </div>

    <div class="d-flex justify-content-between align-items-center mr-md-3">
        {{!-- LinkedIn socials --}}
        <div id="linkedin-container" class="social-link mx-3">
            <script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
            <script type="IN/FollowCompany" data-id="22321535" data-counter="bottom"></script>
        </div>
        {{!-- End LinkedIn socials --}}

        {{!-- Facebook socials --}}
        <div id="facebook-container" class="social-link mx-3">
            <div class="fb-like" data-href="https://www.facebook.com/InnovateBirmingham/" data-width=""
                data-layout="box_count" data-action="like" data-size="small" data-share="true"></div>
        </div>

        {{!-- Instagram socials --}}
        <div id="instagram-container" class="social-link mx-3">
            <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/innovate_bham/">
                <img height="37px" src="/static/img/social/iglogo.webp" alt="IG Logo">
            </a>
        </div>
        {{!-- End Instagram socials --}}

        {{!-- Twitter socials --}}
        <div id="twitter-container" class="social-link mx-3">
            <a href="https://twitter.com/innovate_bham?ref_src=twsrc%5E" class="twitter-follow-button"
                data-show-screen-name="false" data-show-count="false">Follow @innovate_bham</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {{!-- End Twitter socials --}}
    </div>
</div>

<!-- Remove Script -->
<script src='/public/js/social.js'></script>
<!-- /Remove Script -->

{{!--
<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/social.css" />
<!-- /Remove Style --> --}}