{{> main/doctype}}

<head>
    {{> main/head}} {{> main/images}} {{> main/videos}}
</head>

<body>
    {{> nav}} {{> main/body}} {{> newsletter}} {{> footer}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</body>

</html>