{{> main/doctype}}

<head>
    {{> main/head}} {{> main/images}}  {{> main/videos}}
</head>

<body>
    <!-- Google Tag Manager (noscript) This is a Google Analytics link for Summit Media for tracking their marketing support with Innovate Birmingham --> 
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9PKGSP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{> nav}} {{> main/body}} {{> newsletter}} {{> footer}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</body>

</html>