{{> main/doctype}}

<head>
    {{> main/head}} {{> main/images}} {{> main/videos}}
</head>

<body>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0"
        nonce="uM3nLDck"></script>

    <!-- Google Tag Manager (noscript) This is a Google Analytics link for Summit Media for tracking their marketing support with Innovate Birmingham -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9PKGSP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{> nav}} {{> main/body}} {{> newsletter}} {{> footer}}

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
   

</body>

</html>