<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/about.css">
<!-- /Remove Style -->

<header>
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="font-weight-bold display-4 text-navy">What is Innovate Birmingham</h1>
        </div>
    </div>
</header>
<section class="section-padding bg-light">
    <div class="container text-center">
        <h2>How Did It Happen?</h2>
        <p class="text-center">In 2017, Birmingham was awarded a ~$6 million dollar grant as part of the Obama's Promise Grant, this enabled Birmingham
            to train 925 Jefferson County residents valuable tech skills.</p>
    </div>
</section>