<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/about.css">
<!-- /Remove Style -->

<header>
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="font-weight-bold display-4 text-navy">What is Innovate Birmingham</h1>
        </div>
    </div>
</header>
<section class="section-padding bg-light">
    <div class="container text-center">
        <h2>How Did It Happen?</h2>
        <p class="text-center">In 2017, Birmingham was awarded a ~$6 million dollar grant as part of the Obama's Promise Grant, this enabled Birmingham
            to train 925 Jefferson County residents valuable tech skills.</p>
    </div>
</section>
<section class="section-padding">
    <div class="container text-center">
        <h2 class="mb-4">The Problem</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="display-4">5,300
                    <h4>IT jobs posted in Birmingham in 2015</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="display-4">26,000
                    <h4>Disconnected youth in Birmingham</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding section-plan bg-light">
    <div class="container">
        <h2 class="text-center mb-4">The Plan</h2>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-one-list" data-toggle="list" href="#list-one" role="tab"
                        aria-controls="one">Mismatch of Supply & Demand</a>
                    <a class="list-group-item list-group-item-action" id="list-two-list" data-toggle="list" href="#list-two" role="tab" aria-controls="two">Low Relevance for Employers</a>
                    <a class="list-group-item list-group-item-action" id="list-three-list" data-toggle="list" href="#list-three" role="tab" aria-controls="three">Limited Screening</a>
                    <a class="list-group-item list-group-item-action" id="list-four-list" data-toggle="list" href="#list-four" role="tab" aria-controls="four">Training</a>
                    <a class="list-group-item list-group-item-action" id="list-five-list" data-toggle="list" href="#list-five" role="tab" aria-controls="five">Unresolved Student Pain Points</a>
                    <a class="list-group-item list-group-item-action" id="list-six-list" data-toggle="list" href="#list-six" role="tab" aria-controls="six">Business Case</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-one" role="tabpanel" aria-labelledby="list-one-list">Birmingham Tech Council</div>
                    <div class="tab-pane fade" id="list-two" role="tabpanel" aria-labelledby="list-two-list">Skill Mapping Curriculum</div>
                    <div class="tab-pane fade" id="list-three" role="tabpanel" aria-labelledby="list-three-list">Intrinsics & Motivation</div>
                    <div class="tab-pane fade" id="list-four" role="tabpanel" aria-labelledby="list-four-list">Targeted Education Programs</div>
                    <div class="tab-pane fade" id="list-five" role="tabpanel" aria-labelledby="list-five-list">Mentorship & Coaching</div>
                    <div class="tab-pane fade" id="list-six" role="tabpanel" aria-labelledby="list-six-list">Data & ROI for Employers</div>
                </div>
            </div>
        </div>
    </div>
</section>