<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold text-white mb-4">Our Alums</h1>
        </div>
    </div>
</header>
<section class="section-intro section-padding bg-white text-black">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="lead-in font-weight-500 text-center mb-4">Even after you graduate, you’re still part of Innovate
                Birmingham. Our alumni network is constantly growing, and those
                connections often prove invaluable.</h3>
        </div>
</section>
<section class="section-padding section-alumni bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 d-flex align-items-center">
                <img class="img-fluid img-thumbnail" src="/static/img/alumni/alumnicouncil1.jpg"
                    alt="Alumni of Innovate Birmingham posing for a selfie looking over Baron's stadium from the convention area">
            </div>
            <div class="col-sm-9">
                <h3 class="lead-in font-weight-500 text-center my-4">Alumni Council</h3>
                <hr class="mb-5" />
                <div class="row px-md-5 justify-content-center">
                    <h4 class="mb-3">The IB Alumni Council’s mission is to bring alumni together to connect, give back,
                        upskill,
                        socialize,
                        foster the growth
                        of our local tech community, and celebrate the spirit of Innovate Birmingham.</h4>
                    <h4 class="text-center">Want to get involved? Email <a href="mailto:IBalumcouncil@gmail.com"
                            class="link-primary">IBalumcouncil@gmail.com</a> to find out how!</h4>
                </div>
            </div>
        </div>
    </div>
</section>
 {{!-- <section class="section-padding section-newsletter-sign-up bg-white text-center">
    <div class="container">
        <h3 class="lead-in font-weight-500 text-center mb-4">Connect with Us!</h3>
        <hr class="mb-5" />
        <div class="row justify-content-center form-container">
            <!--
                        Begin Mailchimp Signup Form
                        Styles moved to head per Mailchimp instructions.
                    -->
            <div id='mc_embed_signup' class='rounded'>
                <form
                    action='https://innovatebham.us18.list-manage.com/subscribe/post?u=0aeb9493b3fec38b23388f11b&amp;id=622210d17b'
                    method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate'
                    target='_blank' novalidate>
                    <div id='mc_embed_signup_scroll'>
                        <div class='indicates-required'><span class='asterisk'>*</span> indicates required</div>
                        <div class="container">
                            <div class="row flex-md-row flex-md-nowrap">
                                <div class="form-text">
                                    <div class='mc-field-group'>
                                        <label for='mce-EMAIL'>Email Address <span class='asterisk'>*</span>
                                        </label>
                                        <input type='email' value='' name='EMAIL' class='required email' id='mce-EMAIL'>
                                    </div>
                                    <div class='mc-field-group'>
                                        <label for='mce-FNAME'>First Name <span class='asterisk'>*</span>
                                        </label>
                                        <input type='text' value='' name='FNAME' class='required' id='mce-FNAME'>
                                    </div>
                                    <div class='mc-field-group'>
                                        <label for='mce-LNAME'>Last Name <span class='asterisk'>*</span>
                                        </label>
                                        <input type='text' value='' name='LNAME' class='required' id='mce-LNAME'>
                                    </div>
                                </div>
                                <div
                                    class="check-container form-section d-flex justify-content-center align-items-center">
                                    <div class='mc-field-group input-group'>
                                        <strong>What is your interest in IB? </strong>
                                        <ul>
                                            <li><input type='checkbox' value='1' name='group[5102][1]'
                                                    id='mce-group[5102]-5102-0' class='interest-checkbox mr-1'><label
                                                    for='mce-group[5102]-5102-0'>Bootcamp
                                                    Programs</label>
                                            </li>
                                            <li><input type='checkbox' value='2' name='group[5102][2]'
                                                    id='mce-group[5102]-5102-1' class='interest-checkbox mr-1'><label
                                                    for='mce-group[5102]-5102-1'>Partnership
                                                    Opportunities</label></li>
                                            <li><input type='checkbox' value='4' name='group[5102][4]'
                                                    id='mce-group[5102]-5102-2' class='interest-checkbox mr-1'><label
                                                    for='mce-group[5102]-5102-2'>Events</label>
                                            </li>
                                            <li><input type='checkbox' value='8' name='group[5102][8]'
                                                    id='mce-group[5102]-5102-3' class='interest-checkbox mr-1'><label
                                                    for='mce-group[5102]-5102-3'>Program News
                                                    and
                                                    Content</label></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div id='mce-responses' class='clear'>
                                    <div class='response' id='mce-error-response' style='display:none'></div>
                                    <div class='response' id='mce-success-response' style='display:none'></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style='position: absolute; left: -5000px;' aria-hidden='true'><input type='text'
                                        name='b_0aeb9493b3fec38b23388f11b_622210d17b' tabindex='-1' value=''></div>
                                <div class='clear d-flex justify-content-center'>
                                    <input type='submit' value='Subscribe' name='subscribe'
                                        class='btn btn-sm font-weight-600 my-1 mx-2 mx-xl-3 donate-btn'>
                                    <a href="/donate">
                                        <button type="button"
                                            class="btn btn-sm font-weight-600 my-1 mx-2 mx-xl-3 donate-btn">Donate
                                        </button>
                                    </a> --}}

                                    {{!-- fixing button on bottom of newsletter form --}}

                                {{!-- </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script type='text/javascript'
                src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; }(jQuery));
            </script>
            <!--End mc_embed_signup-->
        </div>
    </div>
</section>  --}}


<!-- Remove Script -->
<script src="/public/js/alumni.js"></script>
<!-- /Remove Script -->
<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/alumni.css">
<!-- /Remove Style -->