<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold text-white mb-4">Our Alums</h1>
        </div>
    </div>
</header>
<section class="section-intro section-padding bg-white text-black">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="lead-in font-weight-500 text-center mb-4">Even after you graduate, you’re still part of Innovate
                Birmingham. Our alumni network is constantly growing, and those
                connections often prove invaluable.</h3>
        </div>
</section>
<section class="section-padding section-alumni bg-light text-center">
    <div class="container">
        <h3 class="lead-in font-weight-500 text-center mb-4">Alumni Council</h3>
        <hr class="mb-5" />
        <div class="row px-md-5 justify-content-center">
            <h4 class="mb-3">The IB Alumni Council’s mission is to bring alumni together to connect, give back, upskill, socialize,
                foster the growth
                of our local tech community, and celebrate the spirit of Innovate Birmingham.</h4>
            <h4 class="text-center">Want to get involved? Email <a href="mailto:IBalumcouncil@gmail.com" class="link-primary">IBalumcouncil@gmail.com</a> to find out how!</h4>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/alumni.css">
<!-- /Remove Style -->