<div id="spinner-container" class="container d-flex justify-content-center align-items-center flex-column">
    <div class="spinner-border" role="status">
        <span id="spinner" class="sr-only"></span>
    </div>
    <h5 class="mt-2 font-weight-500">Loading...</h5>
</div>
<iframe name="AGS-apply" src="https://innovatebham.agsprime.net/participant_profile/public_application_module/participant_profile_form"
    id="apply-iframe" frameborder="0"></iframe>

<!-- Remove Script -->
<script src="/public/js/apply.js"></script>
<!-- /Remove Script -->

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/apply.css">
<!-- /Remove Style -->