{{!-- <header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Apply to Innovate Birmingham</h1>
            <h3 class="lead">Need sub-header thing here</h3>
        </div>
    </div>
</header> --}}

<iframe src="https://innovatebham.agsprime.net/interest_form/public_application/interest_form_form" id="apply-iframe"
    frameborder="0"></iframe>


<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/apply.css">
<!-- /Remove Style -->