<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Central Six IT Apprenticeship</h1>
            <h3 class="lead">With Pre-Apprenticeship Provided by I Am Bham</h3>
            <a href="https://innovatebham.formstack.com/forms/application" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-primary text-white">APPLY NOW</button>
            </a>
        </div>
    </div>
</header>
<section class="section-padding section-whatisit">
    <div class="container text-center">
        <h2>What Is It?</h2>
        <p class="font-weight-500"> The Central Six Information Technology Apprenticeship Program prepares an individual
            with the technical
            skills needed for a successful career in the information technology industry, focusing on software
            development. The registered apprenticeship program is an industry-driven, high-quality career pathway where
            an individual obtains paid work experience, related instruction, mentorship, and a portable and
            nationally-recognized credential. As an apprentice, you will “earn as you learn,” working full-time for one
            of our employer partners.</p>
    </div>
</section>
<section class="section-padding section-learned">
    <div class="container text-center">
        <h2>What Will I Learn?</h2>
        <p class="font-weight-500">In the Central Six Information Technology Apprenticeship Program, an apprentice will
            develop skills in C#, React, JavaScript, and SQL, learning how to write simple programs, as well as test and
            debug programs. An apprentice will also learn how to classify end user problems, document problem solutions,
            and perform data analyses. An apprentice will also receive mentorship and professional employability skills
            training throughout the program.</p>
    </div>
</section>
<section class="section-padding section-experience bg-primary text-white">
    <div class="container text-center">
        <h2>Do You Have Coding Experience?</h2>
        <div class="training-options">
            <div class="font-weight-500 w-50">
                <p>If Yes – Please see information below and apply directly to the apprenticeship program.</p>
                <button class="btn btn-sm bg-dark text-white m-1 font-weight-500" type="button">
                    <a href="https://centralsix.org/it/">Apply at Central Six Alabama Works</a>
                </button>
            </div>
            <div class="font-weight-500 w-50">
                <p>If No – Please apply for our I Am Bham Software Development Bootcamp.</p>
                <button class="btn btn-sm bg-dark text-white m-1 font-weight-500" type="button">
                    <a href="https://innovatebham.formstack.com/forms/application">Apply at Innovate Birmingham</a>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="section-padding section-carousel">
    <div class="container text-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <h2 class="mb-3">Who's Being Hired?</h2>
            <div class="carousel-inner">
                {{#each main.signees}}
                <div class="carousel-item {{isFirstItem @index 'active'}}">
                    <img class="carousel-img d-block w-100" src="{{img}}" alt="Second slide">
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/apprenticeship.css">
<!-- /Remove Style -->