<header class="section-hero">
  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-center">
      <h1 class="display-4 font-weight-bold">Information for Potential
        Corporate Partners Apprenticeships & Internships
      </h1>
    </div>
  </div>
</header>

<section class="section-padding section-awards">
  <div class="container justify-content-center">
    <div class="awards-row row">
      <h4 class="awards-intro text-center mb-4">
        Innovate Birmingham partners with many companies who take a
        unique approach to hiring talent because we take a unique
        approach to developing talent.
      </h4>
      <div class="awards-text awards-col col d-flex">
        <p>
          Innovate Birmingham developed the state’s first registered
          IT pre-apprenticeship program in full-stack web development.
          In 2021, the Alabama Office of Apprenticeship recognized
          Innovate Birmingham as one of the state’s very first AOA
          Certified Pre-Apprenticeship programs.
        </p>
        <p>
          Innovate Birmingham has also been selected as a contender
          for the First Annual Governor’s Work-Based Learning Seal of
          Excellence Awards, another nod to our trailblazing work in
          IT work-based learning. We will make a presentation and
          participate in a training session Sept. 2, 2021 at Lawson
          State Community College as we continue to compete for the
          award.
        </p>
        <p>
          Our fast-track Full-Stack Web Development bootcamp allows us
          to provide high-quality tech education in a short time
          frame, which in turn gives our graduates the skills they
          need to enter the workforce, whether that’s as an
          apprentice, an intern or as an entry-level employee!
        </p>
      </div>

      {{!-- <div class="awards-pics awards-col col d-flex">
        <img
          id="WBL-seal"
          class="img-fluid"
          src="../public/img/apprenticeship/WBL-Seal.png"
          alt="WBL seal"
        />
        <img
          class="img-fluid"
          src="../public/img/apprenticeship/aoa-logo.png"
          alt="AOA logo"
        />
      </div> --}}

    </div>
  </div>
</section>
<section class="section-padding section-apprenticeships">
  <div class="container justify-content-center text-center">
    <h2>Apprenticeships</h2>
    <div class="apprenticeships-row mb-3 row">
      {{! <div class="apprenticeships-col col d-flex">
        <img class="apprent-imgs img-fluid rounded" src="../public/img/apprenticeship/7-apprentices.jpg" alt="" />
      </div> }}
      <div class="apprenticeships-col col d-flex">
        <p>The apprenticeship model is proven to recruit, train and
          retain employees, but historically we’ve only seen it used
          in the trade industries. In 2019, Innovate Birmingham
          partnered with Central Six and five employer partners to
          develop Alabama’s first registered IT pre-apprenticeship
          program in full-stack web development. In only 14 weeks, a
          candidate can complete Innovate Birmingham’s
          pre-apprenticeship training program and enter the tech
          workforce as an apprentice.
        </p>
        <p>Starting in August 2019, we partnered with Central Six and
          with five local employers — Shipt, Protective Life, Sigao,
          Keysys and UAB. We’ve placed seven apprentices with those
          employers, with an additional four apprentices starting in
          summer 2021.</p>
      </div>
    </div>
    <div class="apprenticeships-row app-row-2 row">
      <div class="apprenticeships-col apprent-text-2 col d-flex">
        <p>To participate, employers must agree to adhere to the
          training standards. Employers then have the opportunity to
          interview candidates during the last few weeks of the full
          stack web development bootcamp, which reduces the time
          between the end of classes and the start of the
          apprenticeship. Graduates who have completed Innovate
          Birmingham’s program usually finish an apprenticeship in 14
          months — compared to an average of 17 months for other
          candidates. Apprenticeship supervisors train and oversee the
          apprentices and pay their salary and benefit. There are
          several grants available, including an apprentice tax credit
          and On The Job (OJT) training dollars, that can help cover
          these costs.
        </p>
        <p>Apprenticeship supervisors train and oversee the
          apprentices and pay their salary and benefit. There are
          several grants available, including an apprentice tax credit
          and On The Job (OJT) training dollars, that can help cover
          these costs.
        </p>
      </div>
      {{! <div class="apprenticeships-col col d-flex">
        <img class="apprent-imgs img-fluid rounded" src="../public/img/apprenticeship/14-months.jpg" alt="" />
      </div> }}
    </div>
    <h5>For more information, contact us at
      <a
        class="font-weight-600 text-primary"
        href="mailto:info@innovatebham.com"
      >info@innovatebham.com</a>
    </h5>
  </div>
</section>

{{!-- <section class="section-padding section-apply bg-primary text-white">
  <div class="container text-center">

  </div>

</section> --}}

<section class="section-padding section-intern bg-primary">
  <div class="container justify-content-center text-white text-center">
    <h2>Internships</h2>
    <div class="col text-center">
      <div
        class="row-lg-12 justify-content-center align-items-center"
      >

        <p>We also encourage our candidates in both our Full Stack Web
          Development and Data Analytics bootcamps to consider
          internships with tech companies in Birmingham to get
          valuable connections and experience.
        </p>
      </div>

      <div
        class="row-lg-12 justify-content-center align-items-center"
      >
        <p>We have seen our students secure internships with companies
          such as Blue Cross Blue Shield, IMS/Steris, Shipt and
          Landing. We would love to discuss internship possibilities
          and partnerships with your company! Please email our
          Director of Engagement Haley Hoppe at
          haleyh@innovatebham.com to start the conversation today.</p>
      </div>

    </div>
    <h4>Please email our Executive Director Katherine Zachara at
      <a
        class="font-weight-600 text-yellow"
        href="mailto:katherine@innovatebham.com"
      >katherine@innovatebham.com</a>
      to start the conversation today.</h4>
  </div>
</section>

{{!-- <section class='section-padding section-carousel'>
  <div class='container text-center'>
    <div id='carouselExampleIndicators' class='carousel slide' data-ride='carousel'>
      <h2 class='mb-3'>Who's Being Hired?</h2>
      <div class='carousel-inner'>
        {{#each main.signees}}
          <div class='carousel-item {{isFirstItem @index 'active'}}'>
            <img class='carousel-img d-block w-100' src='{{img}}' alt='Second slide' />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section> --}}

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/apprenticeship.css" />
<!-- /Remove Style -->