<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Our Board Members</h1>
        </div>
    </div>
</header>
<section class="section-padding section-members">
    <div class="container" id="members-container">
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/donnie.jpg"
                    alt="Headshot of Ben against a wall, smiling.">
                <h3>Donnie Garvich</h3>
                <h4>Tow Ravens</h4>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-600 mx-4">Even as a teenager writing code to improve inventory management for his
                    Dad’s small business, Donnie knew that he wanted to dedicate his talents to helping people solve
                    problems--to make lives better--through the application of technology. From that humble start, he
                    went on to solve difficult problems for businesses large and small, including stints as a web
                    developer, programmer/analyst, and management team lead at some of the nation’s most recognized
                    automotive, healthtech, fintech, and consumer brands.</p>
                <p class="font-weight-600 mx-4">Wanting to take what he’d learned and apply it to business challenges
                    that could impact even broader audiences, he set out to form Two Ravens, an innovation consultancy
                    that puts problem solving through design thinking at the heart of every project. And doing it in a
                    way that isn’t internally disruptive for the client, even though the results of those efforts can
                    have that effect on the client’s industry.</p>
                <p class="font-weight-600 mx-4">So whether it’s helping a start-up better understand the end user
                    experience or coaching a Fortune 500 company through the research and development process towards an
                    innovative new product or internal process, Donnie is going to be found at the center of activity,
                    guiding the team to ensure that great ideas have the best possible chance of becoming amazing
                    experiences.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/ben.jpg"
                    alt="Headshot of Ben against a wall, smiling.">
                <h3>Ben Podbielski</h3>
                <h4>Protective Life</h4>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-600 mx-4">Ben Podbielski is a member of the Innovation team at Protective Life
                    where
                    he focuses on applying
                    entrepreneurship principals to internal proof of concepts, with a specific focus towards artificial
                    intelligence. Ben is a 2017 graduate of Birmingham’s Project Corporate Leadership, was honored as
                    one of the EDPA’s “iMerging” Young Leaders in 2018, in 2019 he was one of 90 people, representing 32
                    different countries, from around the world selected to be part of MIT’s Technology and Innovation
                    Bootcamp in Japan, and was appointed by Governor Ivey to serve on the Technical Advisory Committee
                    on the Alabama Committee for Credentialing and Career Pathways. Ben currently holds a bachelor’s in
                    computer science from LaGrange College and also earned his master’s in information technology,
                    master’s in business administration, and master’s in project management.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/chris.jpg"
                    alt="Headshot of Ben against a wall, smiling.">
                <h3>Chris Sims</h3>
                <h4>Sigao Studios</h4>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-600 mx-4">Chris Sims, founding team member and CEO of Sigao Studios, found his
                    stride as a software engineer and project manager during his management information systems studies
                    at the University of Alabama. Now, with over 20 years of programming and 16 years of project
                    management experience under his belt, Chris confidently leads his team to identify complex problems
                    and push the boundaries to achieve high-performing, innovative and sleek solutions.</p>
                <p class="font-weight-600 mx-4"> Chris leverages his mastery of project management and mentoring
                    techniques to build collaborative
                    and creative project teams that are empowered to deliver dynamic results. His passion is watching
                    clients-from startups to $60 million IT projects-succeed at agile software development through
                    Sigao's technical solutions. As part of building strong teams and projects, Chris has worked with a
                    broad range of Workforce Development initiatives ranging from regional programs such as the Central
                    Six IT Apprenticeship Consortium to nationwide initiatives with significant advocacy in Washington
                    DC and beyond.</p>
                <p class="font-weight-600 mx-4">In 2019, Chris trained with Dr. Jeff Sutherland, the co-creator of
                    Scrum, to join the prestigious
                    team of global Scrum@Scale instructors. Chris is currently only one of a handful of Scrum@Scale
                    trainers in the world.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/emily.jpg"
                    alt="Headshot of Ben against a wall, smiling.">
                <h3>Emily Wykle</h3>
                <h4>UAB</h4>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-600 mx-4">Emily Wykle works in the Office of the President at UAB, serving as
                    project director on
                    issues related to community engagement, government relations, and economic
                    development. As the liaison between UAB and community and corporate partners,
                    Emily works to connect Birmingham with UAB’s assets and expertise and vice versa.
                    She serves as the Principal Investigator for UAB’s CCAMPIS grant program (Child Care
                    Access Means Parents in School) and chairs UAB’s Civic Giving program. Prior to her
                    current role, Emily led UAB’s leadership development program and internal coaching
                    practice.</p>
                <p class="font-weight-600 mx-4">Before coming to UAB, Emily worked at Equal Measure, a consulting firm
                    headquartered in Philadelphia that partners with foundations to advance social change.
                    During her time at Equal Measure, she worked with clients including Aspen Institute, Bill
                    &amp; Melinda Gates Foundation, and Robert Wood Johnson Foundation on initiatives
                    related to strategy development, evaluation, and capacity building in the philanthropic
                    Space.</p>
                <p class="font-weight-600 mx-4">Emily graduated from Davidson College and received a Master’s in Public
                    Administration &amp; Policy from the University of Georgia. She also completed an
                    executive coaching credential through Columbia Business School.</p>
            </div>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/board.css">
<!-- /Remove Style -->