<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Our Board Members</h1>
        </div>
    </div>
</header>
<section class="section-padding section-members">
    <div class="container" id="members-container">
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/ben.jpg"
                    alt="Headshot of Ben Podbielski against a wall, smiling.">
                <h3>Ben Podbielski</h3>
                <h5>Protective Life</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">Ben Podbielski is a member of the Innovation team at Protective Life
                    where
                    he focuses on applying
                    entrepreneurship principals to internal proof of concepts, with a specific focus towards artificial
                    intelligence. Ben is a 2017 graduate of Birmingham’s Project Corporate Leadership, was honored as
                    one of the EDPA’s “iMerging” Young Leaders in 2018, in 2019 he was one of 90 people, representing 32
                    different countries, from around the world selected to be part of MIT’s Technology and Innovation
                    Bootcamp in Japan, and was appointed by Governor Ivey to serve on the Technical Advisory Committee
                    on the Alabama Committee for Credentialing and Career Pathways.</p>
                <p class="font-weight-500 mx-4"> Ben currently holds a bachelor’s in
                    computer science from LaGrange College and also earned his master’s in information technology,
                    master’s in business administration, and master’s in project management.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/donnie.jpg" alt="Headshot of Donnie Garvich.">
                <h3>Donnie Garvich</h3>
                <h5>Two Ravens</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">Even as a teenager writing code to improve inventory management for his
                    Dad’s small business, Donnie knew that he wanted to dedicate his talents to helping people solve
                    problems--to make lives better--through the application of technology. From that humble start, he
                    went on to solve difficult problems for businesses large and small, including stints as a web
                    developer, programmer/analyst, and management team lead at some of the nation’s most recognized
                    automotive, healthtech, fintech, and consumer brands.</p>
                <p class="font-weight-500 mx-4">Wanting to take what he’d learned and apply it to business challenges
                    that could impact even broader audiences, he set out to form Two Ravens, an innovation consultancy
                    that puts problem solving through design thinking at the heart of every project. And doing it in a
                    way that isn’t internally disruptive for the client, even though the results of those efforts can
                    have that effect on the client’s industry.</p>
                <p class="font-weight-500 mx-4">So whether it’s helping a start-up better understand the end user
                    experience or coaching a Fortune 500 company through the research and development process towards an
                    innovative new product or internal process, Donnie is going to be found at the center of activity,
                    guiding the team to ensure that great ideas have the best possible chance of becoming amazing
                    experiences.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/chris.jpg" alt="Headshot of Chris Sims.">
                <h3>Chris Sims</h3>
                <h5>Sigao Studios</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">Chris Sims, founding team member and CEO of Sigao Studios, found his
                    stride as a software engineer and project manager during his management information systems studies
                    at the University of Alabama. Now, with over 20 years of programming and 16 years of project
                    management experience under his belt, Chris confidently leads his team to identify complex problems
                    and push the boundaries to achieve high-performing, innovative and sleek solutions.</p>
                <p class="font-weight-500 mx-4"> Chris leverages his mastery of project management and mentoring
                    techniques to build collaborative
                    and creative project teams that are empowered to deliver dynamic results. His passion is watching
                    clients-from startups to $60 million IT projects-succeed at agile software development through
                    Sigao's technical solutions. As part of building strong teams and projects, Chris has worked with a
                    broad range of Workforce Development initiatives ranging from regional programs such as the Central
                    Six IT Apprenticeship Consortium to nationwide initiatives with significant advocacy in Washington
                    DC and beyond.</p>
                <p class="font-weight-500 mx-4">In 2019, Chris trained with Dr. Jeff Sutherland, the co-creator of
                    Scrum, to join the prestigious
                    team of global Scrum@Scale instructors. Chris is currently only one of a handful of Scrum@Scale
                    trainers in the world.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/emily.jpg" alt="Headshot of Emily Wykle">
                <h3>Emily Wykle</h3>
                <h5>UAB</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">Emily Wykle works in the Office of the President at UAB, serving as
                    project director on
                    issues related to community engagement, government relations, and economic
                    development. As the liaison between UAB and community and corporate partners,
                    Emily works to connect Birmingham with UAB’s assets and expertise and vice versa.
                    She serves as the Principal Investigator for UAB’s CCAMPIS grant program (Child Care
                    Access Means Parents in School) and chairs UAB’s Civic Giving program. Prior to her
                    current role, Emily led UAB’s leadership development program and internal coaching
                    practice.</p>
                <p class="font-weight-500 mx-4">Before coming to UAB, Emily worked at Equal Measure, a consulting firm
                    headquartered in Philadelphia that partners with foundations to advance social change.
                    During her time at Equal Measure, she worked with clients including Aspen Institute, Bill
                    &amp; Melinda Gates Foundation, and Robert Wood Johnson Foundation on initiatives
                    related to strategy development, evaluation, and capacity building in the philanthropic
                    Space.</p>
                <p class="font-weight-500 mx-4">Emily graduated from Davidson College and received a Master’s in Public
                    Administration &amp; Policy from the University of Georgia. She also completed an
                    executive coaching credential through Columbia Business School.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/benb.jpg" alt="Headshot of Ben Branch.">
                <h3>Ben Branch</h3>
                <h5>Owner/Partner, ITAC Solutions</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">ITAC Solutions is a recruiting and staffing company headquartered in
                    Birmingham, Alabama with additional offices in
                    Mobile, Huntsville, and Nashville, Tennessee. ITAC specializes in the temporary, contract, and
                    direct placement of
                    accounting, information technology, corporate and administrative professionals.</p>
                <p class="font-weight-500 mx-4">Mr. Branch joined ITAC in 2003 and is active in the overall strategic
                    leadership of ITAC while also serving as the
                    Director and Partner over the IT Services line of business. Ben received a Bachelor’s degree in
                    Marketing from Auburn
                    University in 1991. He sits on numerous boards, such as Tech Birmingham Board and Executive
                    Committees, as well as with
                    many startups in the Birmingham eco system. Mr. Branch is also an entrepreneur, and invests and
                    supports many local
                    startup businesses in pre and post revenue funding.</p>
                <ol class="font-weight-500 mx-4 text-left">
                    <li>ITAC was founded in 2000 in Birmingham, Alabama</li>
                    <li>Named a 2010, 2011& 2012 “Best Company to Work for in Alabama” by Best Companies Group</li>
                    <li>Won “Best Small Employer” category in 2013 in “Best Company to Work for in Alabama” survey.</li>
                    <li>Recognized 3 consecutive years by Inc. magazine as one of America’s Fastest-Growing,
                        Privately-Held Companies</li>
                    <li>2015 and2016 Top Tiger Distinction by Auburn University</li>
                    <li>2016 “Best of Birmingham” Finalist</li>
                    <li>Hexagon Small Business Supplier of the year 2016</li>
                </ol>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/Rebecca.jpg" alt="Headshot of Amanda Raney">
                <h3>Rebecca Dobrinski</h3>
                <h5>CEO of Red Thread Consulting</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">Rebecca Dobrinski is the CEO of Red Thread Consulting, a community
                    engagement firm that helps businesses and
                    entrepreneurs deliver, manage, and leverage their stakeholder engagement, as well the Director of
                    Membership & Special
                    Events at TechBirmingham. She returned to Birmingham in 2003 to finish her BA in History at UAB,
                    then went on to earn
                    MAs from SCAD (Historic Preservation) and UAB (History).</p>
                <p class="font-weight-500 mx-4">She is the organizer for TEDxBirmingham, a member of Leadership
                    Birmingham (2017), a Co.Starters graduate, a member of
                    the inaugural cohort for the Birmingham Entrepreneurship Academy, a serial volunteer, and a speaking
                    coach for The Big
                    Pitch, TEDxBirmingham, Your Big Idea, F*ckUp Nights Birmingham, Ignite Birmingham, and private
                    entrepreneurial clients.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/Delphine.jpg" alt="Headshot of Amanda Raney">
                <h3>Delphine Carter</h3>
                <h5>CEO and co-founder</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">With a career spent rising in the ranks as a product manager, Delphine
                    has worked on technology products in the start-up
                    phase to legacy solutions. Her background in creating highly effective teams and maximizing group
                    synergies speaks
                    directly to Boulo’s unique solution. Boulo matches professional women, mostly moms, seeking to
                    maintain their
                    professional careers while being caretakers with companies seeking experts and offering flexible
                    work cultures. Her own
                    experience trying to balance career aspirations and family commitments drives her passion for
                    ensuring that women have
                    more options than the career off-ramp.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/MarthaUnderwood.jpeg"
                    alt="Headshot of Amanda Raney">
                <h3>Martha Underwood</h3>
                <h5>BBVA / Executive Estrogen</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">Known as a cross-collaborative influencer, change agent & motivating
                    force to be reckoned with, Martha Underwood, is
                    regarded as a transformational leader in today’s fast-paced and challenging global software arena.
                </p>
                <p class="font-weight-500 mx-4">From Florida to Silicon Valley and now Birmingham, Martha proudly serves
                    as the Head of Retail Software Engineering at
                    BBVA USA. She is also the excited Founder of Executive Estrogen, a consulting firm that provides
                    women with the tools
                    and strategies that lead to their career advancement.
                    When she’s not advising, giving a keynote or coaching, she can be found at the baseball park
                    watching her husband coach
                    her 2 young boys.</p>
            </div>
        </div>
        <div class="member row">
            <div class="member-info col-md-3 mb-3">
                <img class="member-headshot" src="/static/img/board/AmandaRaney.jpg" alt="Headshot of Amanda Raney">
                <h3>Amanda Stewart Raney</h3>
                <h5>Financial Advisor, Morgan Stanley</h5>
            </div>
            <div class="bio-container col-md-9">
                <p class="font-weight-500 mx-4">Amanda Stewart Raney brings many years of experience serving clients,
                    and also training, developing, and supervising
                    Financial Advisors as they serve theirs. She is passionate about using her knowledge of the broader
                    organization and its
                    resources to bring the breadth and depth of Morgan Stanley’s offerings to clients. Amanda is deeply
                    engaged in the
                    start-up community in Alabama, and enjoys mentoring executives as they grow. She also serves her
                    community in the Shades
                    Valley Rotary, as a board member for the Mountain Brook YMCA, and on the Advisory Council for
                    STREAM, an education-based
                    non-profit. She has also volunteered as a judge for the EDPA’s Alabama Launchpad competition. Amanda
                    has been in the
                    industry for 13 years. She was most recently First Vice President and Associate Complex Manager for
                    the Alabama and
                    Florida Panhandle offices of
                    Morgan Stanley.</p>
                <p class="font-weight-500 mx-4">She also serves her community in the Shades Valley Rotary, as a board
                    member for the Mountain Brook YMCA, and on the
                    Advisory Council for STREAM, an education-based non-profit. She has also volunteered as a judge for
                    the EDPA’s Alabama
                    Launchpad competition. Amanda has been in the industry for 13 years. She was most recently First
                    Vice President and
                    Associate Complex Manager for the Alabama and Florida Panhandle offices of
                    Morgan Stanley.</p>
            </div>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/board.css">
<!-- /Remove Style -->