<header class="section-hero">
    <div class="container mt-5 mb-3">
        <h1 class="font-weight-bold">Want More Info?</h1>
        <p>Thanks for your interest in Innovate Birmingham! For general inquries please email <a href="mailto:apply@innovatebham.com">apply@innovatebham.com</a>. If you have specific questions please find the appropriate email below. We'd love to hear from you!</p>
    </div>
</header>
<section class="section-padding section-contact">
    <div class="container">
        <h3 class="font-weight-bold">Bootcamps</h3>
        <p>Please email <a href="mailto:kayla@innovatebham.com">kayla@innovatebham.com</a></p>
        <h3 class="font-weight-bold">Scholarships</h3>
        <p>Please email <a href="mailto:alexandria@innovatebham.com">alexandria@innovatebham.com</a></p>
        <h3 class="font-weight-bold">Employers or Partnerships</h3>
        <p>Please email <a href="mailto:haleyb@innovatebham.com">haleyb@innovatebham.com</a></p>
        <h3 class="font-weight-bold">For general inquries or anything else</h3>
        <p>Please email <a href="mailto:apply@innovatebham.com">apply@innovatebham.com</a></p>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/contact.css">
<!-- /Remove Style -->