<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Our Courses</h1>
            <h3 class="lead">Choose your path to a new career</h3>
        </div>
    </div>
</header>
<section class="courses section-padding bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 my-2 text-center">
                <div class="card pointer px-2">
                    <div class="card-body position-relative">
                        <img class="iambham-logo mr-2 mb-4" src="/static/img/logos/iambham_logo.png" alt="IamBham">
                        <h4 class="card-title">Software Engineering Bootcamp</h4>
                        <p class="text-grey">14 Weeks / 9am - 5pm</p>
                        <p class="card-text">We partner with
                            <a href="https://covalence.io" target="_blank" rel="noopener noreferrer">Covalence</a>, a local Software Bootcamp company, and through their curriculum, facilitated through
                            their online portal, we teach you the skills you need to become a junior level developer.</p>
                        <a class="btn btn-primary text-white position-absolute" href="/courses/software/">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-2 text-center">
                <div class="card pointer px-2">
                    <div class="card-body position-relative">
                        <img class="iambham-logo mr-2 mb-4" src="/static/img/logos/generation_logo.png" alt="Generation IT">
                        <h4 class="card-title">IT Hardware Bootcamp</h4>
                        <p class="text-grey">12 Weeks / 9am - 3pm</p>
                        <p class="card-text">We partner with
                            <a href="https://covalence.io" target="_blank" rel="noopener noreferrer">Covalence</a>, a local Software Bootcamp company, and through their curriculum, facilitated through
                            their online portal, we teach you the skills you need to become a junior level developer.</p>
                        <a class="btn btn-primary text-white position-absolute" href="/courses/hardware/">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-2 text-center">
                <div class="card pointer px-2">
                    <div class="card-body position-relative">
                        <img class="iambham-logo mr-2 mb-4" src="/static/img/logos/logo_small.png" alt="Innovate Birmingham">
                        <h4 class="card-title">College Scholarships</h4>
                        <p class="text-grey">Up to $4,000</p>
                        <p class="card-text">We partner with
                            <a href="https://covalence.io" target="_blank" rel="noopener noreferrer">Covalence</a>, a local Software Bootcamp company, and through their curriculum, facilitated through
                            their online portal, we teach you the skills you need to become a junior level developer.</p>
                        <a class="btn btn-primary text-white position-absolute" href="/scholarships/">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-help section-padding bg-primary">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h4 class="text-white">Can't decide which course is right for you? Drop us a line. We're here to help!</h4>
            </div>
            <div class="col-md-6 text-center">
                <a href="/contact/" class="btn text-white btn-secondary">HELP ME PLEASE!</a>
            </div>
        </div>
    </div>
</section>
<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/courses.css">
<!-- /Remove Style -->