<header class="bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col py-5 text-white">
                <h1 class="pb-2">Our Courses</h1>
                <p class="pb-4">Choose your path to a new career</p>
            </div>
        </div>
    </div>
</header>
<section class="courses">
    <div class="container course section-padding">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="card col-md-6">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img class="iambham-logo mr-2" src="/static/img/logos/iambham_logo.png" alt="IamBham">
                        <h3 class="card-title">I Am Bham Software Engineering Bootcamp</h3>
                    </div>
                    <p class="card-text"></p>
                    <a class="btn btn-primary text-white" href="/courses/iambham/">LEARN MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <p>We partner with
                    <a href="https://covalence.io" target="_blank" rel="noopener noreferrer">Covalence</a>, a local Software Bootcamp company, and through their curriculum, facilitated through their
                    online portal, we teach you the skills you need to become a junior level developer. We take you from
                    no experience at all, through learning you first language, framework.</p>
            </div>
        </div>
    </div>
    <div class="container course section-padding">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <p>If you've always loved Legos and building things with your hands, the Generation IT Course is perfect for
                    you. We teach you how to take apart and build a computer. Networking. Servers. Operating Systems. We
                    teach you everything you need to know to pass the CompTIA A+ exam and get hired as an IT Professional</p>
            </div>
            <div class="card col-md-6">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img class="iambham-logo mr-2" src="/static/img/logos/generation_logo.png" alt="Generation IT">
                        <h3 class="card-title">Generation IT Hardware Bootcamp</h3>
                    </div>
                    <p class="card-text"></p>
                    <a class="btn btn-primary text-white" href="/courses/generation/">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container course section-padding">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="card col-md-6">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img class="iambham-logo mr-2" src="/static/img/logos/logo_small.png" alt="Innovate Birmingham">
                        <h3 class="card-title">College Scholarships</h3>
                    </div>
                    <p class="card-text"></p>
                    <a class="btn btn-primary text-white" href="/scholarships/">LEARN MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <p>Already in school? Well if you go to the University of Alabama at Birmingham, Jefferson State, or Lawson
                    State and you major in either Electrical Engineering, Computer Science, or Information Systems you could
                    be eligible for a 4K scholarship. And who doesn't like free money?</p>
            </div>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/courses.css">
<!-- /Remove Style -->