<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Donate</h1>
            <h3 class="lead font-weight-500">Invest in your community by helping us support aspiring tech professionals building their careers</h3>
        </div>
    </div>
    
</header>

<section class="section-donate">
    <div id="spinner-container" class="container d-flex justify-content-center align-items-center flex-column">
        <div class="spinner-border" role="status">
            <span id="spinner" class="sr-only"></span>
        </div>
        <h5 class="mt-2 font-weight-500">Loading...</h5>
    </div>
    <script src="https://app.donorview.com/scripts/shared/iframeResizer/iframeResizer.min.js"></script>
    <iframe src="https://app.donorview.com/AbZLK" frameborder="0" scrolling="no" id="dv-iframe" name="dv-iframe"
        width="100%" style="width: 100%;"></iframe>
    <script>iFrameResize({ checkOrigin: false, inPageLinks: true, heightCalculationMethod: 'taggedElement' }, '#dv-iframe');</script>
</section>

<section class="section-video">
       <h3 class=" m-4 d-flex justify-content-center">View our Give Day 2021 informational video</h3>
   <div id="video-container">
         {{!-- <iframe width="1275" height="717" src="https://www.youtube.com/embed/O8BMORVXKNI?modestbranding=1&rel=0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>  --}}
    <iframe
        width="1275" height="717"
        src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fbhamnow%2Fvideos%2F2994095120859409%2F&show_text=false&width=560&t=0"
        width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        allowFullScreen="true"></iframe>
    </div>
</section>
<!-- Remove Script -->
<script src="/public/js/donate.js"></script>
<!-- /Remove Script -->

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/donate.css">
<!-- /Remove Style -->