<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Donate</h1>
            <p class="lead">You can support aspiring tech professionals to fuel equitable economic prosperity in our
                tech ecosystem.</p>
        </div>
    </div>
</header>
<section class="section-padding section-financials">
    <div class="container">
        <div class="row">
            <p></p>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/financials.css">
<!-- /Remove Style -->