<header class='section-hero'>
  <div class='jumbotron mb-0 jumbotron-fluid'>
    <div class='container text-center'>
      <h1 class='display-4 font-weight-bold'>Financials</h1>
    </div>
  </div>
</header>
<section class='section-padding section-financials'>
  <div class='container'>
    <div class='row'>
      <p class='font-weight-600 mx-4'>Our commitment to our donors is that we will not sell, share or trade our donors' names or personal information with any other entity, nor
        send mailings to our donors on behalf of other organizations. This policy applies to all information received by Innovate Birmingham, both online and offline, on any
        platform, as well as any electronic, written, or oral communications. To the extent any donations are processed through a third-party service provider, our donors’
        information will only be used for purposes necessary to process the donation.</p>
    </div>
    <div class='row'>
        <button>990</button>
    </div>
  </div>
</section>

<!-- Remove Style -->
<link rel='stylesheet' href='/public/css/financials.css' />
<!-- /Remove Style -->