<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Learn to Build a Computer</h1>
            <h3 class="lead">Powered By Generation IT</h3>
            <button type="button" class="btn btn-primary">APPLY NOW</button>
        </div>
    </div>
</header>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/hardware.css">
<!-- /Remove Style -->