<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/home.css">
<!-- /Remove Style -->

<section class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Every Career Needs a Beginning</h1>
            <p class="lead">Free Premier Tech Training in the Heart of the Magic City</p>
            <button type="button" class="btn btn-primary">APPLY NOW</button>
        </div>
    </div>
</section>
<section class="section-numbers section-padding">
    <div class="row container mx-auto text-center d-flex justify-content-center align-items-center">
        <div class="col-sm m-4">
            <h4 class="display-4">$5,999,770</h4>
            <p>Awarded to Innovate Birmigham</p>
        </div>
        <div class="col-sm m-4">
            <h4 class="display-4">925</h4>
            <p>Students to be trained</p>
        </div>
        <div class="col-sm m-4">
            <h4 class="display-4">100%</h4>
            <p>Free</p>
        </div>
    </div>
</section>
<section class="section-courses section-padding bg-primary">
    <div class="container">
        <h3 class="text-center text-white">Courses</h3>
        <div class="row">
            <div class="col-lg-4 my-2">
                <a class="card text-center" rel="noreferrer noopener" href="/courses/iambham/">
                    <div class="card-header">
                        <i class="fa fa-code mr-2"></i>Software Engineering Bootcamp</div>
                    <div class="card-body">
                        <p class="card-text">Learn to build websites & mobile apps!</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 my-2">
                <a class="card text-center" rel="noreferrer noopener" href="/courses/generation/">
                    <div class="card-header">
                        <i class="fa fa-desktop mr-2"></i>IT Hardware Bootcamp</div>
                    <div class="card-body">
                        <p class="card-text">Do you like to build things with your hands? Come here to build the hardware of tomorrow!</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 my-2">
                <a class="card text-center" rel="noreferrer noopener" href="/scholarships">
                    <div class="card-header">
                        <i class="fa fa-school mr-2"></i>College Scholarships</div>
                    <div class="card-body">
                        <p class="card-text">$4,000 Scholarships for technology majors!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section-companies section-padding">
    <div class="container">
        <h4 class="text-center">Our graduates are being hired at the best companies in Birmingham</h4>
        <div class="row mt-4">
            <div class="col-md-3 logo" style="background-image: url('/static/img/logos/company-logos/apple.png');"></div>
            <div class="col-md-3 logo" style="background-image: url('/static/img/logos/company-logos/bbva.png');"></div>
            <div class="col-md-3 logo" style="background-image: url('/static/img/logos/company-logos/shipt.png');"></div>
            <div class="col-md-3 logo" style="background-image: url('/static/img/logos/company-logos/uab.png');"></div>
        </div>
    </div>
</section>