<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Our Impact</h1>
            <h5 class="lead-in font-weight-500">We don’t just train local talent — we invest in them
                and their families.</h5>
        </div>
    </div>
</header>
<section class="section-padding section-cards bg-light text-center">
    <div class="container">
        <h4 class="lead-in font-weight-500 text-center mb-4">Program Success</h4>
        <hr class="mb-5" />
        <div class="row justify-content-between px-md-5">
            <div class="impact-card col-md-4">
                <div class="svg-container">
                    <i class="fas fa-chalkboard-teacher fa-5x"></i>
                </div>
                <h5 class="my-4">840 students trained for high-quality jobs</h5>
            </div>
            <div class="impact-card col-md-4">
                <div class="svg-container">
                    <i class="fas fa-hand-holding-usd fa-5x"></i>
                </div>
                <h5 class="my-4">$20k average wage increase</h5>
            </div>
            <div class="impact-card col-md-4">
                <div class="svg-container">
                    <i class="fas fa-handshake fa-5x"></i>
                </div>
                <h5 class="my-4">70% placement rate</h5>
            </div>
        </div>
    </div>
</section>
<section class="section-padding section-students bg-white text-center">
    <div class="container">
        <h4 class="lead-in font-weight-500 text-center mb-4">Student-Centered</h4>
        <hr class="mb-5" />
        <div class="row justify-content-between px-md-5 mb-3">
            <div class="impact-card col-md-3">
                <div class="svg-container">
                    <i class="fa-solid fa-people-arrows-left-right fa-5x"></i>
                </div>
                <h5 class="my-4">29: Average age of participants</h5>
            </div>
            <div class="impact-card col-md-3">
                <div class="svg-container">
                    <i class="fa-regular fa-hands-holding-dollar fa-5x"></i>
                </div>
                <h5 class="my-4">76% from low-income households</h5>
            </div>
            <div class="impact-card col-md-3">
                <div class="svg-container">
                    <i class="fa-duotone fa-user-hair-long fa-5x"></i>
                </div>
                <h5 class="my-4">54% identify as people of color</h5>
            </div>
            <div class="impact-card col-md-3">
                <div class="svg-container">
                    <i class="fa-regular fa-life-ring fa-5x"></i>
                </div>
                <h5 class="my-4">58% of participants receive supportive services</h5>
            </div>
        </div>

        <h6 class="lead-in font-weight-500 text-center">Want to learn more? Download our Innovate Birmingham
            Overview PDF <a href="/static/documents/Innovate Birmingham Overview Packet - Bitwise.pdf">here</a>.</h6>
    </div>
</section>
<section class="section-video mb-0 bg-light">
    <h3 class="m-4 text-center">View our Give Day 2021 informational video</h3>
    <div id="video-container" class="d-flex col align-items-center justify-content-center mb-0">
        <iframe id="give-day-vid"
            src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbhamnow%2Fvideos%2F2994095120859409%2F&show_text=false&t=0"
            style="border:none;overflow:hidden;width:90%;height:100%;margin:auto auto 0 auto;" scrolling="no"
            frameborder="0" allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/impact.css">
<!-- /Remove Style -->