<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Media</h1>
            <h3 class="lead">Stay up to date with training opportunities, events, and more</h3>
            <a href="https://innovatebham.com/contact">
                <button class="btn btn-brand-yellow font-weight-600">Contact Us</button>
            </a>
        </div>
    </div>
</header>
<section class="section-padding section-marketing bg-white text-center">
    <div class="d-flex flex-column flex-md-row justify-content-center mr-md-4">
        <div id="media-newsletter">
            <div class="media-lead">
                <h3 class="lead m-3">Fueling Tech Talent for Employer Demands in the Heart of the Magic City</h3>
            </div>
        </div>
        <div id="marketing-strategist">
            <h2>Marketing Strategist: Deva DeDios</h2>
            <a href="mailto:deva@innovatebham.com">
                <h2><i class="fa fa-envelope m-2"></i>deva@innovatebham.com</h2>
            </a>
            <a href="https://docs.google.com/document/d/1jJc7P_nodnfGlPj-LkPWYKALO6hzfWeZZPcuysoKXRs/edit?ts=5f036d3f" target="_blank">
                <button type="button" class="btn btn-brand-yellow font-weight-600">Download Media Kit</button>
            </a>
        </div>
    </div>
</section>
<section class="section-padding section-socials text-center">
    <div class="container">
        <h1>Follow Us!</h1>
        <div id="social-container">
            <div class="d-flex justify-content-between align-items-center">
                <a class="mx-4" rel="noopener noreferrer" target="_blank"
                    href="https://www.facebook.com/InnovateBirmingham"><img src="/static/img/media/facebook.png"
                        alt="facebook logo" class="social-logo"></a>
                <a class="mx-4" rel="noopener noreferrer" target="_blank"
                    href="https://www.instagram.com/innovate_bham/"><img src="/static/img/media/instagram.png"
                        alt="instagram logo" class="social-logo"></a>
                <a class="mx-4" rel="noopener noreferrer" target="_blank"
                    href="https://www.linkedin.com/company/innovatebirmingham/"><img src="/static/img/media/twitter.png"
                        alt="twitter logo" class="social-logo"></a>
                <a class="mx-4" rel="noopener noreferrer" target="_blank"
                    href="https://www.linkedin.com/company/innovatebirmingham/"><img
                        src="/static/img/media/linkedin.png" alt="linkedin logo" class="social-logo"></a>
            </div>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/media.css">
<!-- /Remove Style -->