<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Mission</h1>
        </div>
    </div>
</header>
<section class="section-padding section-mission text-center">
    <div class="container">
        <div class="row">
            <div id="mission-statement" class="mission-main my-3">
                <i class="fa fa-users fa-4x mx-2" aria-hidden="true"></i>
                <h3 class="font-weight-600 mx-2 statement">Our Mission</h3>
                <p class="mx-3 font-weight-500">Innovate Birmingham is a nonprofit organization working to promote
                    economic mobility and fill the tech talent gap in Central Alabama.
                </p>
            </div>
            <div id="vision-statement" class="mission-main my-3">
                <img src="/static/img/mission/light.png"  class="mx-2 vision-lightbulb" />
                <h3 class="font-weight-600 mx-2 statement">Our Vision</h3>
                <p class="mx-3 font-weight-500">Equitable economic prosperity in our tech ecosystem.</p>
            </div>

            <div id="vision-statement" class="mission-main my-3">
                <div id="story-book">
                <img src="public\img\mission\book-outline.png"  class="mx-2 vision-lightbulb bookImg" />
                <h3 class="font-weight-600 mx-2 statement mt-3">Our Story</h3>
                </div>
                <div>
                    <p class="mx-5 font-weight-500">Innovate Birmingham, formerly I am Bham, Inc., became a registered
                        501(c)3 in 2016 following the award of the US Department of Labor’s America’s Promise grant. Led
                        by
                        the University of Alabama at Birmingham (UAB), a coalition of over 15 community partners and 30
                        employers came together to solve two problems: (1) meet the demand of an IT workforce growing at
                        the
                        second-fastest pace in the country; (2) harness the potential of under- and unemployed residents
                        in
                        Central Alabama.
                    </p>
                    <p class="mx-5 my-3 font-weight-500">Innovate Birmingham and our partners are driven by a shared belief:
                        talent is distributed equally in our community but opportunity is not. Our programs are designed
                        to address this challenge by identifying talent needs with employers; connecting with area
                        residents who are disconnected from the labor market; and providing holistic support,
                        professional development, and training for our students.
                        <br>
                        <br>
                        As a demand-driven nonprofit organization, our programs are updated and aligned with industry
                        needs along with input from employers and participants.
                    </p>
                </div>
            </div>



        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/mission.css">
<!-- /Remove Style -->
