<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold text-white">Work With Us</h1>
            <h3 class="lead text-white">Partnering with Innovate Birmingham is only bound by your imagination. Whether
                it be hiring our graduates, providing internships, mentoring, mock interviewing, we're always looking to
                connect new tech talent with you!
            </h3>
            <a href="/contact">
                <button type="button" class="btn btn-primary">CONTACT US</button>
            </a>
        </div>
    </div>
</header>
<section class="section-about section-padding text-center bg-light">
    <div class="container">
        <h2>What Does it Mean to Be a Partner?</h2>
        <p>The short answer is: Anything! Partnering with Innovate Birmingham is only bound by your imagination. We are
            open
            to all ideas and will work as a thought partner with you to figure out what sort of relationship works best
            for
            all of us. Whether that be hiring our graduates, providing internships, mentoring, mock interviewing, or
            just
            coming to say hey to our students, we're looking for any way we can connect new tech talent with you!</p>
    </div>
</section>
<section class="section-employer-partners section-padding">
    <div class="container">
        <h2 class="text-center mb-3">Our Employer Partners</h2>
        <h4 class="lead text-center mb-2 font-weight-400">Our employer partners are not only hiring talent from Innovate Birmingham, but are
            also co-creators of talent. Innovate They engage with participants year-round by hosting professional
            development workshops, attending career fairs, and engaging in candidate interview sessions.
        </h4>
        <div class="row">
            {{#each main.employerPartners}}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{{url}}" target="_blank" rel="noreferrer noopener">
                    <div class="logo p-3 my-3" style="background-image: url('{{__logoPath}}')"></div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<section class="section-network-partners section-padding">
    <div class="container">
        <h2 class="text-center mb-3">Our Network Partners</h2>
        <h4 class="lead text-center mb-2">Our network of partners are uniquely positioned to prepare disconnected youth and
            under- or unemployed adults in Birmingham for high-paying, high-demand occupations in the IT sector.
        </h4>
        <div class="row">
            {{#each main.networkPartners}}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{{url}}" target="_blank" rel="noreferrer noopener">
                    <div class="logo p-3 my-3" style="background-image: url('{{__logoPath}}')"></div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/partners.css">
<!-- /Remove Style -->