<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">College Scholarships</h1>
            <h3 class="lead">Jump Start Your Tech Career</h3>
            <button type="button" class="btn btn-primary">APPLY NOW</button>
        </div>
    </div>
</header>
<section class="section-padding section-about">
    <div class="container text-center">
        <h3>How It Works</h3>
        <p>The Innovate Birmingham Scholarship was established on a first-dollar basis through a grant from the U.S Department
            of Labor to support IT and Technology majors in Birmingham. As an Innovate Birmingham scholar, you become a part
            of a larger group of colleagues in the technology industry and fellow students at The University of Alabama at
            Birmingham, Lawson State Community College, and Jefferson State Community College.</p>
    </div>
</section>
<section class="section-perks section-padding bg-light">
    <div class="container text-center">
        <h3>The Perks</h3>
        <p>In addition to scholarship dollars, Innovate Birmingham students are invited to attend professional development events
            and networking opportunities at the Innovation Depot, one of the largest startup incubators in the country and
            home to 100+ companies. Awardees will also receive support finding IT/Technology jobs and internships. </p>
    </div>
</section>
<section class="section-padding section-majors bg-primary">
    <div class="container text-center text-white">
        <h3 class="mb-4">Qualifying Majors</h3>
        <div class="row">
            <div class="col-md-4 display-4">Electrical Engineering</div>
            <div class="col-md-4 display-4">Computer Science</div>
            <div class="col-md-4 display-4">Information Systems</div>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/scholarships.css">
<!-- /Remove Style -->