<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">College Scholarships</h1>
            <h3 class="lead">Jump Start Your Tech Career</h3>
            <a href="https://innovatebham.formstack.com/forms/application" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-primary text-white">APPLY</button>
            </a>
        </div>
    </div>
</header>
<section class="section-padding bg-yellow text-center">
    <h4 class="text-navy">Accepting applications on a rolling basis!</h4>
</section>
<section class="section-eligibility section-padding bg-primary">
    <div class="container text-center text-white">
        <h4 class="mb-4">Minimum Eligibility Requirements</h4>
        <p>Resident of the following counties of Central Alabama: Jefferson, Shelby, Blount, St. Clair, Chilton, and Walker.</p>
        <p>Computer Science Major or related major or minor</p>
        <p>Full-time student at The University of Alabama At Birmingham (UAB), Jefferson State Community College, and Lawson State Community College.</p>
    </div>
</section>
<section class="section-padding section-about">
    <div class="container text-center">
        <h3>How It Works</h3>
        <p>The Innovate Birmingham Scholarship was established on a first-dollar basis through a grant from the U.S
            Department
            of Labor to support IT and Technology majors in Birmingham. As an Innovate Birmingham scholar, you become a
            part
            of a larger group of colleagues in the technology industry and fellow students at The University of Alabama
            at
            Birmingham, Lawson State Community College, and Jefferson State Community College.</p>
    </div>
</section>
<section class="section-perks section-padding bg-light">
    <div class="container text-center">
        <h3>The Perks</h3>
        <p>In addition to scholarship dollars, Innovate Birmingham students are invited to attend professional
            development events
            and networking opportunities at the Innovation Depot, one of the largest startup incubators in the country
            and
            home to 100+ companies. Awardees will also receive support finding IT/Technology jobs and internships. </p>
    </div>
</section>
<section class="section-padding section-majors bg-primary">
    <div class="container text-center text-white">
        <h3 class="mb-4">Qualifying Majors</h3>
        <hr>
        <div class="row">
            <h3 class="col-md-3">Electrical Engineering</h3>
            <h3 class="col-md-3">Computer Science</h3>
            <h3 class="col-md-3">Information Systems</h3>
            <h3 class="col-md-3">Digital Forensics</h3>
        </div>
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/scholarships.css">
<!-- /Remove Style -->