<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">College Scholarships</h1>
            <h3 class="lead">Accepting applications on a rolling basis!</h3>
            <a href="https://innovatebham.formstack.com/forms/application" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-primary text-white">APPLY</button>
            </a>
        </div>
    </div>
</header>
<section class="section-padding section-about bg-light">
    <div class="container text-center">
        <h3>How It Works</h3>
        <p>The Innovate Birmingham Scholarship was established on a first-dollar basis through a grant from the U.S
            Department
            of Labor to support IT and Technology majors in Birmingham. As an Innovate Birmingham scholar, you become a
            part
            of a larger group of colleagues in the technology industry and fellow students at The University of Alabama
            at
            Birmingham, Lawson State Community College, and Jefferson State Community College.</p>
    </div>
    <div class="container text-center mt-3">
        <h4 class="mb-2">Minimum Eligibility Requirements</h4>
        <p class="requirements">Resident of the following counties of Central Alabama: Jefferson, Shelby, Blount, St.
            Clair, Chilton, and
            Walker.</p>
        <p class="requirements">Full-time student at The University of Alabama at Birmingham (UAB), Jefferson State
            Community College,
            or Lawson State Community College.</p>
        <p class="requirements">Applicable to majors or minors listed in the "Qualifying Majors & Programs" section below.</p>
    </div>
</section>
<section class="section-perks section-padding bg-primary text-white">
    <div class="container text-center">
        <h3>The Perks</h3>
        <p>In addition to scholarship dollars, Innovate Birmingham students are invited to attend professional
            development events
            and networking opportunities at the Innovation Depot, one of the largest startup incubators in the country
            and
            home to 100+ companies. Awardees will also receive support finding IT/Technology jobs and internships. </p>
    </div>
</section>
<section class="section-padding text-center">
    <h3 class="mb-4 mx-2">Qualifying Majors, Minors & Programs</h3>
    <div class="majors-container">
        {{#each main.schools}}
        <div class="section-schools">
            <div class="img-container">
                <a href="{{url}}" target="_blank" rel="noreferrer noopener">
                    <img class="logo" src="{{__logoPath}}">
                </a>
            </div>
            <div class="majors-text">
                <ul>
                    {{#each requirements}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/scholarships.css">
<!-- /Remove Style -->