<header class="section-padding section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Full Stack Software Engineering</h1>
            <h3 class="lead">Powered By Covalence</h3>
            <button type="button" class="btn btn-primary">APPLY NOW</button>
        </div>
    </div>
</header>
<section class="section-padding section-about">
    <div class="container">
        <h3>IamBham</h3>
        <p>I am Bham is a 14-week coding bootcamp designed to teach Full Stack and Front End Web Development through short-term,
            fast-track, intensive training. Classes are held at Innovation Depot, home to more than 100 companies, allowing
            students the ability to interact daily with potential employers.</p>
    </div>
</section>
<section class="section-padding section-curriculum bg-secondary">
    <div class="container">
        <h3>Curriculum</h3>

    </div>
</section>
<section class="section-padding section-javascript">
    <div class="container">
        <h3>Why JavaScript?</h3>

    </div>
</section>
<section class="section-padding section-faq">
    <div class="container">

    </div>
</section>

<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/software.css">
<!-- /Remove Style -->