<header class="section-hero">
    <div class="jumbotron mb-0 jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 font-weight-bold">Testimonials</h1>
        </div>
    </div>
</header>
<section class="section-padding section-testimonials main-container bg-light">
    <div class="container text-center">
        <div class="row justify-content-center">
            <h4 class="lead-in font-weight-500 text-center mb-4">Partnering with Innovate Birmingham is only bound by
                your imagination. Whether
                it be hiring our graduates, providing internships, mentoring, mock interviewing, we're always looking to
                connect new tech talent with you!
            </h4>
            <hr class="mb-5" />
        </div>
        <div class="section-card-container card index-6 mt-0">
            <div class="image-container">
                <img class="img-fluid img-thumbnail"
                    src="/static/img/testimonials/Headshot - Rebekah Llinares - IAMBHAM.jpg" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Rebekah Llinares</h4>
                <h5 class="display-7">IT Apprentice at UAB</h5>
                <h5 class="quote display-8">"The program is an incredible resource, and I couldn't be happier with where it's gotten me!"</h5>
                <p id="textArea-6" class="message-actual collapse">
                    I found out about Innovate Birmingham through my friend, Jordan Hansen. I'd been working as a manager at a busy bakery for nearly 4 years, but I wasn't happy with where I was. I had a biology degree, but I was using it to serve people coffee (plus retail is just... soul-sucking and dead-end in general). I'd always, always been interested in pursuing a career in technology, but was hesitant to take the plunge because I believed I would need a computer science degree to do so. The program almost seemed like it was too good to be true, but I knew that Jordan, and many others, had successfully started tech careers after participating, so I thought maybe I could as well. <br> <br> 
                    
                    I think the thing that surprised me the most was how easy the program made it for me to establish and grow a network (I didn’t even have a LinkedIn). As someone with pretty severe social anxiety, the whole meeting and interviewing process is noteasy for me. I got the best job I’ve ever had out of the professional networking events, and I never would have had any of those opportunities on my own. The program is an incredible resource, and I couldn't be happier with where it's gotten me! <br> <br> 
                    
                    My biggest advice for someone who may be considering applying to Innovate Birmingham is to just go for it! I know how stressful it can be to take off work for 3 months, but I promise it's worth it. Especially for people stuck in retail - here is this amazing, FREE opportunity to launch yourself into a career with upward momentum! It's going to be difficult, and you're going to feel like you're behind or that you don't understand things well enough to go on, but that's so normal and so okay. Use the program as a stepping-stone to start on your journey as a developer. Don't worry about comprehending every little thing along the way - it takes time and repeated exposure for things to really stick. This is a career where you will always be learning, no matter your level of experience. Get used to being open to new processes and ideas and you'll be fine!
                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-6" aria-expanded="false" aria-controls="textArea-6">
                    Read More
                </button>
            </div>
        </div>
        <div class="section-card-container card index-7">
            <div class="image-container">
                <img class="img-fluid img-thumbnail" loading="lazy"
                    src="/static/img/testimonials/Headshot - Avera Guthrie - IAMBHAM.jpg" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Avera Guthrie</h4>
                <h5 class="display-7">Front-End Developer at Quantalytix, Inc.</h5>
                <h5 class="quote display-8">"The biggest takeaway from the software development bootcamp was that you get what you work for and that being able to admit when you don’t knowsomething is an asset."</h5>
                <p id="textArea-7" class="message-actual collapse">
                    I found out about Innovate Birmingham through a current student, Cat Callahan. I had just finished a seasonal position with the Girl Scouts, and I was hoping to move away from working in my own business. I was lucky enough to have a sibling who is a software engineer, and he shared his passion and helped me decide if this was the right path for me. <br> <br>

                    The biggest takeaway from the software development bootcamp was that you get what you work for and that being able to admit when you don’t knowsomething is an asset. I was most surprised by how much I enjoy coding. Thething I most enjoyed about Innovate Birmingham was meeting a host of wonderful people. I’ve been blown away by how kind everyone was while I was in the program and how kind everyone has continued to be. <br> <br>

                    For those who are currently in or are considering Innovate Birmingham, knowto just stick with it. It gets hard, and sometimes it feels like things won’t workout, but if you grit your teeth and push through, it’s 100% worth it.
                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-7" aria-expanded="false" aria-controls="textArea-7">
                    Read More
                </button>
            </div>
        </div><div class="section-card-container card index-8">
            <div class="image-container">
                <img class="img-fluid img-thumbnail" loading="lazy"
                    src="/static/img/testimonials/Headshot - Jake Lovett - IAMBHAM.jpg" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Jake Lovett</h4>
                <h5 class="display-7">Software Development Teaching Assistant at Innovate Birmingham</h5>
                <h5 class="quote display-8">"It may sound cliché, but the class taught me how to figure things out on my own and how to ask for help when I need it."</h5>
                <p id="textArea-8" class="message-actual collapse">
                    I discovered Innovate Birmingham through one of my friends who had also taken the coding class. He realized he was passionate about coding and landed a stable job as a result. I was in a similar position. I was working an entry-level job that I could barely live off of and had not finished college. I was hesitant to go back due to apathy and lack of funds. I was out to dinner with a friend one night, and he could tell I was concerned for my future. He suggested the class, and it sounded like a great opportunity. <br> <br> 

                    It may sound cliché, but the class taught me how to figure things out on my own and how to ask for help when I need it. This program also taught me self-control. There weretimes when I felt like screaming at my computer in class, but that is not socially acceptable, so I didn’t. Overall, I am very thankful for the skillset Innovate Birmingham provided me. They pushed me out of my comfort zone mentally and socially, and in doing so, helped me realize what I am capable of anything if I just put forth the effort. Being around other students who wanted to better themselves as much as I did quickly got rid of that apathy I held onto before. <br> <br> 
                    
                    If I had any one piece of advice to give someone who is currently in the program or considering taking the program, it would be to commit to it if they have the drive and areat all interested in problem solving or technology. This class definitely will confuse people at points (see the bit about the screaming in the second paragraph), but finally grasping something you have been struggling with for hours is so gratifying. All it takes is a willingness to learn and access to www.google.com.
                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-8" aria-expanded="false" aria-controls="textArea-8">
                    Read More
                </button>
            </div>
        </div>
        <div class="section-card-container card index-9">
            <div class="image-container">
                <img class="img-fluid img-thumbnail" loading="lazy"
                    src="/static/img/testimonials/Headshot - Ryan Feagin - IAMBHAM.jpg" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Ryan Feagin</h4>
                <h5 class="display-7">Next Gen Security Analyst at BBVA</h5>
                <h5 class="quote display-8">"I have always wanted to combine my interests with a technological skill, and Innovate Birmingham was the perfect way for me to do that."</h5>
                <p id="textArea-9" class="message-actual collapse">
                    I overheard some friends talking about it. We were all looking for better employment, and while at the time I was seeking jobs in education, I heard it was free toapply so I decided to look into it. The more I saw and heard about the program, the better of an opportunity it sounded like. I have always wanted to combine my interests with a technological skill, and Innovate Birmingham was the perfect way for me to do that. <br> <br>

                    I went into the program with the intention of just learning a skill, but the people I met and the relationships I built were my biggest takeaways. They helped me grow confident in my own employability, not to mention all the great connections I built through networking with the folks at Innovate Birmingham. In particular, my instructor, Robin Hunt, was an essential factor in my newfound passion for data analysis. Her encouragement and positive attitude inspired me to put a lot of effort into all aspects of the program, and it has absolutely changed my life. <br> <br>

                    Work with your peers and communicate with them and the staff. You can learn a lot from self teaching, but never underestimate the value of another perspective. The staff is there to help you succeed, and they love students who are active in the IB community. 
                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-9" aria-expanded="false" aria-controls="textArea-9">
                    Read More
                </button>
            </div>
        </div>
        <div class="section-card-container card index-1">
            <div class="image-container">
                <img class="img-fluid img-thumbnail" loading="lazy"
                    src="/static/img/testimonials/Headshot - Blake McCracken - IAMBHAM.jpg" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Blake McCracken</h4>
                <h5 class="display-7">Software Support Analyst at Keysys</h5>
                <h5 class="quote display-8">"Innovate Birmingham exposed me to an entirely new and incredible career.
                    They showed me how many jobs were out there."</h5>
                <p id="textArea-1" class="message-actual collapse">
                    Before starting at Innovate Birmingham, I had been working various parking management positions. I
                    spent a good 6 years making decent money as a valet, then supervisor, and then manager after
                    realizing that college, well student debt, wasn't the right choice for me. I was incredibly burnt
                    out on what I was doing for a living; however, I knew it wasn't a satisfactory career for me. I
                    reconnected with a childhood friend who has a great job at BBVA as a programmer analyst. I asked him
                    how he got there. He told me he went through a program called Innovate Birmingham. He sent me the
                    link. I took a look and applied immediately. It was free! I was ecstatic. This was exactly the kind
                    of opportunity I had always been looking for. The kind of opportunity I wish had existed. It is a
                    full-time, 40-hour a week program. So, I saved my money, rounded up all the help I could get, and
                    dove in fully committed. <br><br>

                    I learned how to wireframe, plan, and design. I learned how to interview, build a resume, network,
                    give elevator pitches, job hunt. I learned how to brand myself, how to use LinkedIn. I learned how
                    to create and build. I learned how to come up with original app ideas. I learned how to consider
                    varying use cases. Probably most importantly, I learned how to think like a programmer. I have
                    already used all of these skills at my new job. <br><br>

                    I currently work as a Software Support Analyst at a company called KEYSYS. I've been here for about
                    3.5 months now. Everything is going great! I've created a testing system and given a lunch and learn
                    on it. I've contributed production code, and I'm about to join a team working on a giant, new
                    product using modern technologies (that many of my co-workers have never learned) that I learned in
                    the program.<br><br>

                    Innovate Birmingham exposed me to an entirely new and incredible career. They showed me how many
                    jobs were out there. They facilitated a remedy to the bitterness I felt about my social class, my
                    economic status, my lack of a fulfilling career. They proved to me that if I had the determination
                    and commitment, I could get hired without a college degree. Personally, the program changed my
                    entire worldview. I'm extremely proud of what I've done and what I do. I'm thrilled to tell people
                    what I do for a living. I'm optimistic about my professional future. I have a skill that I am
                    passionate about now. I am genuinely a happier person now that I've found my calling in life. Simply
                    put, they helped me form goals that I didn't have, or that needed refining. To describe Innovate
                    Birmingham in one word, life-changing.
                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-1" aria-expanded="false" aria-controls="textArea-1">
                    Read More
                </button>
            </div>
        </div>
        <div class="section-card-container card index-2">
            <div class="image-container">
                <img class="img-fluid img-thumbnail"  loading="lazy" src="/static/img/testimonials/Headshot - Pete Wiley - IAMBHAM.jpg"
                    alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Pete Wiley</h4>
                <h5 class="display-7">Software Developer at Altec</h5>
                <h5 class="quote display-8">"Innovate Birmingham helped me recognize and develop my "thing," and granted
                    me the opportunity to do something I love for a living."</h5>
                <p id="textArea-2" class="message-actual collapse">
                    Prior to Innovate Birmingham, I wasn't really doing much of anything at all. I was working as a
                    delivery driver. I didn't find that very fulfilling and certainly did not want that to be what I did
                    for the rest of my life. I was without direction until a family friend of mine in the industry told
                    me about Innovate Birmingham, and I looked into it. It was very appealing to me because I see myself
                    as a problem-solver and have always taken an interest in technology. I obsess, and this seemed like
                    a healthy, gratifying obsession. Innovate Birmingham in particular was a gift. It grants
                    life-changing opportunities (for free!) to people that are willing to go out and work hard for a
                    better future. The staff there work hard to make sure that good work is recognized and rewarded, and
                    I and many others can attest to this.<br><br>

                    This program really makes sure you understand exactly how development teams collaborate in 2019,
                    that being Agile development methodology. I came into my job confident, because I was already used
                    to working with teams in a way the industry recognizes and uses. Outside of technical skills,
                    Innovate Birmingham bringing in a guest speaker to talk about personal finances was a valuable
                    experience for every student involved. Everyone learned something that day, and I'm sure everyone
                    left with a feeling of more control.<br><br>

                    I currently work at Altec. I started as a software development intern in May 2019 and worked for 11
                    weeks before being promoted to a full-time software developer. I have decided I am going to go to
                    school for a computer science degree. I go home thinking about work - what I did that day and what
                    I'll be doing tomorrow, excited and ready. Innovate Birmingham helped me recognize and develop my
                    "thing," and granted me the opportunity to do something I love for a living. I don't see this
                    changing any time soon. My experience in this program was truly invaluable.
                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-2" aria-expanded="false" aria-controls="textArea-2">
                    Read More
                </button>
            </div>
        </div>
        <div class="section-card-container card index-3">
            <div class="image-container">
                <img class="img-fluid img-thumbnail" loading="lazy"
                    src="/static/img/testimonials/Headshot - Dillon Panter - IAMBHAM.jpg" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Lee Panter</h4>
                <h5 class="display-7">Front-End Developer at Martin Retail Group</h5>
                <h5 class="quote display-8">"Innovate Birmingham, gave me the tools and knowledge to drive my future in
                    my direction."</h5>
                <p id="textArea-3" class="message-actual collapse">
                    Before Innovate Birmingham, I was learning myself through odd jobs and living on my own. I was
                    growing into teaching yoga and understanding what I needed to do to better my life and achieve
                    financial safety. My old roommate taught himself how to code through an art culture project.
                    Spending evenings together and seeing the work he put in inspired me. When he then achieved a
                    life-changing career, I knew I needed to buckle down. Our mutual friend, Jordan Hansen, who was in
                    the first few cohorts, ended up working with my old roommate at XpertDocs. I decided that there
                    wasn't much to lose besides being broke for 3.5 months, learning 9-5 Monday through Friday and
                    weekends. The first day when we gathered in the waiting room meeting our new friends, I knew I would
                    enjoy this time.<br><br>

                    I currently work at Martin Retail Group, an advertising firm that handles all of GM, (Buick, GMC,
                    Cadillac, Chevy) as a Front-End Developer. Innovate Birmingham taught me to handle certain issues as
                    they come up and how to google. When it came time to get a job, they were very insightful for
                    questions on salary, benefits, etc.<br><br>

                    Innovate Birmingham, gave me the tools and knowledge to drive my future in my direction. I feel like
                    a silver surfer on the web sometimes whenever it comes to problem solving. If I had to choose one
                    word to describe this program it would be, paramount.

                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-3" aria-expanded="false" aria-controls="textArea-3">
                    Read More
                </button>
            </div>
        </div>
        <div class="section-card-container card index-4">
            <div class="image-container">
                <img class="img-fluid img-thumbnail" loading="lazy"
                    src="/static/img/testimonials/Headshot - Alec Justice - IAMBHAM.jpg" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Alec Justice</h4>
                <h5 class="display-7">Software Developer at Altec</h5>
                <h5 class="quote display-8">"One of the biggest advantages of the Innovate Birmingham program is that
                    they put you right in front of employers that are real interviews and truly do everything in their
                    power to help you land your first job as a developer."</h5>
                <p id="textArea-4" class="message-actual collapse">
                    Since I didn’t go to college for computer science and wanted to get into software development as
                    soon as possible, I started doing some research and found that a lot of developers got their start
                    in the industry by going to a code bootcamp. I immediately started searching for code bootcamps near
                    Birmingham and came across Innovate Birmingham and the IAmBham program. It looked like a solid
                    program with great curriculum, so I applied immediately. One of the biggest advantages of the
                    Innovate Birmingham program is that they put you right in front of employers that are real
                    interviews and truly do everything in their power to help you land your first job as a
                    developer.<br><br>

                    I knew the bootcamp was going to be challenging going into it, but I have to say I was surprised
                    with how hard our instructor pushed us. We were expected to give our best effort every single day,
                    and I can say that the payoff was a million times worth it. We learned heaps of valuable information
                    in a short amount of time and even better, we proved to prospective employers that we are committed
                    to learning and actually putting these skills to use. Also, I have built many great friendships with
                    both the staff and my classmates that will last a lifetime.<br><br>

                    If you’ve ever considered joining a code bootcamp, apply to Innovate Birmingham right now!!
                    Seriously, whether you’re wanting to jumpstart your career or if you’re like me and wanting to
                    change careers completely, Innovate Birmingham will set you up for success. All that’s required of
                    you is to be fully committed and put in the work. This program has changed my life and I am so
                    grateful to have found this incredible opportunity. My only regret is not finding this program
                    sooner. Thank you, Innovate Birmingham, for helping me start a career that I love with a great
                    company!
                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-4" aria-expanded="false" aria-controls="textArea-4">
                    Read More
                </button>
            </div>
        </div>
        <div class="section-card-container card index-5">
            <div class="image-container">
                <img class="img-fluid img-thumbnail" loading="lazy"
                    src="/static/img/testimonials/Headshot - Rob Hargrove - IAMBHAM.jpg" alt="">
            </div>
            <div class="message-container">
                <h4 class="display-5">Robert Hargrove</h4>
                <h5 class="display-7">Technician at Honda Manufacturing of Alabama</h5>
                <h5 class="quote display-8">"I personally needed something new that would challenge me by pushing my
                    boundaries mentally"</h5>
                <p id="textArea-5" class="message-actual collapse">
                    I heard about this program from my uncle, which at
                    the time I was involved in the fitness industry working as a personal trainer/pilates instructor -
                    something that I was very passionate about. Although I love fitness and the joy it brings to my
                    life, I personally needed something new that would challenge me by pushing my boundaries mentally,
                    and what else would be better than something that was completely foreign to me. <br> <br> There are
                    two
                    sides to this course, one was full stack software development, and the other was professional
                    development. During professional development, we were able to hear from other IT professionals that
                    gave us insight as to what we were preparing for and the great opportunity that was in our near
                    future. <br> <br> Towards the end of this program, we were split into groups and were assigned a
                    final
                    project to develop an app that could be used in today's society. For my final project, I was able to
                    combine my passion for fitness and new my found passion for technology. My group developed a fitness
                    app called SoloFit that allowed people to connect with fitness instructors and find the workout plan
                    best suited for them. <br> <br>  One of the most important factors about this program is that they
                    provided
                    the opportunity for their students to interview with possible future employers. I definitely took
                    advantage of this and was able to land a job at Honda Manufacturing of Alabama, LLC. <br> <br> I
                    truly do
                    appreciate Innovate Birmingham for the people I’ve met and the knowledge I’ve gained. I hope that
                    others who find themselves in a rut or want a shot at a better quality of life have the opportunity
                    to go through this program. Innovate Birmingham changed my life and helped me in becoming the person
                    that I’ve always envisioned myself to be.
                </p>
                <button class="readmore btn btn-primary mt-1" type="button" data-toggle="collapse"
                    data-target="#textArea-5" aria-expanded="false" aria-controls="textArea-5">
                    Read More
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Remove Script -->
<script src="/public/js/testimonials.js"></script>
<!-- /Remove Script -->
<!-- Remove Style -->
<link rel="stylesheet" href="/public/css/testimonials.css">
<!-- /Remove Style -->