<footer class="bg-primary">
    <div class="container section-padding">
        <div class="row text-white">
            <div class="mission col-md-4">
                <h6>
                    <strong>Innovate Birmingham</strong>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    Our mission is to create a sustainable pipeline of IT talent here in Birmingham. To find and train Jefferson Country residents
                    for jobs.
                </p>
            </div>
            <div class="courses col-md-4">
                <h6>
                    <strong>Courses</strong>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="/courses/iambham/">Software Engineering</a>
                </p>
                <p>
                    <a href="/courses/generation/">Hardware</a>
                </p>
                <p>
                    <a href="/courses/generation/">College Scholarships</a>
                </p>
            </div>
            <div class="contact col-md-4">
                <h6>
                    <strong>Contact</strong>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="mailto:info@innovatebham.com">info@innovatebham.com</a>
                </p>
                <a href="/info/" class="btn btn-navy">MORE INFO</a>
            </div>
        </div>
    </div>
</footer>