<footer class="bg-secondary">
    <div class="container section-padding">
        <div class="row text-white">
            <div class="mission col-md-4">
                <h6>
                    <strong>Innovate Birmingham</strong>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    Our mission is to create a sustainable pipeline of tech talent here in Birmingham.
                </p>
            </div>
            <div class="courses col-md-4">
                <h6>
                    <strong>Programs</strong>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="/courses/software/">Software Engineering</a>
                </p>
                <p>
                    <a href="/courses/data-analytics/">Data Analytics</a>
                </p>
                <p>
                    <a href="/scholarships/">College Scholarships</a>
                </p>
            </div>
            <div class="contact col-md-4">
                <h6>
                    <a href="/contact/"><strong>Contact</strong></a>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="mailto:apply@innovatebham.com">apply@innovatebham.com</a>
                </p>
                <a href="/contact/" class="btn btn-sm btn-primary">MORE INFO</a>
            </div>
        </div>
        <p class="text-center mt-4 text-white font-weight-200 text-medium">Copyright © 2019: Innovate Birmingham</p>
    </div>
</footer>