<footer class="bg-secondary">
    <div class="container section-padding">
        <div class="row text-white">
            <div class="mission col-md-4">
                <h6>
                    <strong>Innovate Birmingham</strong>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    Fueling Tech Talent for Employer Demands in the Heart of the Magic City
                </p>
            </div>
            <div class="courses col-md-4">
                <h6>
                    <strong>Programs</strong>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="/programs/accelerated-programs/">Accelerated Programs</a>
                </p>
                <p>
                    <a href="/apprenticeship/">Apprenticeship</a>
                </p>
                <p>
                    <a href="/degrees-and-certifications/">Degree and Certifications</a>
                </p>
            </div>
            <div class="contact col-md-4">
                <h6>
                    <a href="/contact/"><strong>Contact</strong></a>
                </h6>
                <hr class="bg-yellow mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="mailto:info@innovatebham.com">info@innovatebham.com</a>
                </p>
                <a href="/contact/" class="btn btn-sm btn-primary">MORE INFO</a>
            </div>
        </div>
        <p class="text-center mt-4 text-white font-weight-350 text-medium">Copyright © 2020: Innovate Birmingham</p>
        <p class="text-center mt-1 text-white font-weight-350 text-medium">Innovate Birmingham is a tax exempt nonprofit. Donations made to Innovate Birmingham are tax deductible.</p>
    </div>
</footer>