.navbar {
  box-shadow: 0 2px 2px 1px rgba(25, 25, 25, 0.2);

  @include media-breakpoint-down(md) {
    .dropdown-menu {
      border-top: none;
      border-right: none;
      border-bottom: none;
    }
  }
}

// this is only for the desktop navbar opening. Bootstrap repurpose was not working.
.expand-container {
  position: relative;

  #mainDesktopNavbar {
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
    z-index: 1033;
    animation: drawNav 80ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    // animate the opening of the navbar on large screens.
    @keyframes drawNav {
      0% {
        width: 0vw;
      }
      100% {
        width: 16vw;
      }
    }

    .button-container {
      top: 10px;
      right: 10px;

      #closeNavButton {
        background: url("../../static/img/nav/closeNavButton.png");
        background-size: 20px;
        background-repeat: no-repeat;
        min-height: 1em;
        border: none;
      }
    }

    .navbar-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      margin: 1em;
    }
  }
}

.navbar-nav {
  line-height: 2em;

  .nav-link {
    padding-bottom: 0;

    &:hover,
    &.active {
      color: inherit !important;
    }
  }
}

.navbar-collapse {
  font-size: 90%;
  font-weight: 700;
  text-align: center;

  li {
    margin-bottom: 0.33em;
  }

  a {
    letter-spacing: 0.12em;
  }

  &:not(.show):not(.collapsing) {
    .nav-item.active {
      border-bottom: 3px solid $brand-info;
    }
  }

  &.show,
  &.collapsing {
    .nav-item {
      padding-left: 1em;
    }
  }
}

.navbar-brand > img {
  height: 2em;
  max-width: none;
  max-height: none;

  @include media-breakpoint-up(sm) {
    height: 2.25em;
  }
}
