.section-padding {
    padding-top: 3em;
    padding-bottom: 3em;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: inherit !important;
}

button {
    cursor: pointer !important;
}

.pointer {
    cursor: pointer !important;
}

.bg-yellow {
    background-color: $yellow !important;
}

.text-yellow {
    color: $yellow !important;
}

.text-grey {
    color: $gray;
}

.text-navy {
    color: $navy !important;
}

.text-small {
    font-size: 0.5em !important;
}

.text-medium {
    font-size: 0.75em !important;
}

.text-large {
    font-size: 1.25em !important;
}
