@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Regular.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-BlackItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-BlackItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Bold.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-BoldItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-BoldItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Light.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-LightItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-LightItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Hairline.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Hairline.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-HairlineItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-HairlineItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Hairline.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Hairline.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-HairlineItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-HairlineItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 100;
    font-style: italic;
}
