@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Regular.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-RegularItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-RegularItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Black.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-BlackItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-BlackItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Bold.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-BoldItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-BoldItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Light.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-LightItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-LightItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Hairline.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Hairline.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-HairlineItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-HairlineItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-Hairline.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-Hairline.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato/Lato-HairlineItalic.WOFF') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            url('/static/fonts/lato/Lato-HairlineItalic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 100;
    font-style: italic;
}

.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-100-italic {
    font-weight: 100 !important;
    font-style: italic !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-200-italic {
    font-weight: 200 !important;
    font-style: italic !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-300-italic {
    font-weight: 300 !important;
    font-style: italic !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-400-italic {
    font-weight: 400 !important;
    font-style: italic !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-500-italic {
    font-weight: 500 !important;
    font-style: italic !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-600-italic {
    font-weight: 600 !important;
    font-style: italic !important;
}
.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-700-italic {
    font-weight: 700 !important;
    font-style: italic !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-800-italic {
    font-weight: 800 !important;
    font-style: italic !important;
}
